Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

unfinished: adding notes
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: none

DO NOT MERGE snapcraft: - add ubuntu-xilinx ppa while we wait for tagged version and SRU to noble
  snap/snapcraft.yaml
Labels: none

snapcraft: draft daemon.conf install/update hooks
  .git_components.yaml
  snap/hooks/install
  snap/hooks/post-refresh
Labels: root

root: bump version to 0.2.0 from 0.1.0 (features: dfx-mgr)
  Cargo.lock
  Cargo.toml
Labels: root

dfx-mgr: snapcraft: dbus: created wrapper script to run a persistent dfx-mgrd and monitor it
  daemon/src/comm/dbus/control_interface.rs
  snap/assets/softener_wrapper
  snap/snapcraft.yaml
Labels: none

daemon: cli: pretty print display macros where possible
  cli/src/main.rs
  daemon/tests/universal/control/write_bitstream_direct.rs
Labels: cli

<todo>: add remove_bitstream and rework remove_overlay to take Option (for slot)
  cli/src/proxies/control_proxy.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: cli

error: add non-exhaustive to FpgadError errors to force a default on match statements
  daemon/src/error.rs
Labels: none

cli: add support for remove_bitstream for dfx-mgr testing
  cli/src/main.rs
  cli/src/remove.rs
  daemon/src/comm/dbus/control_interface.rs
Labels: cli

softeners: dfx-mgr: implement basic functionality
  daemon/src/platforms/platform.rs
  daemon/src/softeners.rs
  daemon/src/softeners/error.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
Labels: none

daemon: refactor for all platform specific functionality to only happen in platform files
  cli/src/status.rs
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal_components.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/platforms/universal_components/universal_helpers.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
Labels: cli

dfx-mgr: add fdt parsing to find the bitstream file from dtbo and load that
  Cargo.lock
  daemon/Cargo.toml
  daemon/src/softeners.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_helpers.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
Labels: root

daemon: move the path splitting/joining utils to system_io because dfx-mgr needs them too
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/platforms/universal_components/universal_helpers.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/system_io.rs
Labels: none

add todos to status_interface - get_overlay(_)s(tatus)
  daemon/src/comm/dbus/status_interface.rs
Labels: none

cli: daemon: add a status_message platform-level function
  cli/src/main.rs
  cli/src/proxies/status_proxy.rs
  cli/src/status.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: cli

remove dead_code
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: none

docs: fill in missing gaps for dfx-mgr changes
  daemon/src/platforms/platform.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr_helpers.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
Labels: none

platform: remove "required_flags" metho from overlay_handler
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
Labels: none

remove todos
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: none

cli: added docstring comments to new functions
  cli/src/set.rs
  cli/src/status.rs
  daemon/src/comm/dbus.rs
Labels: cli

dbus: changed validate_property_... parameters from &str to &Path
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
Labels: none

tests: coverage - fix llvm-cov deprecated --export-prefix
  tests/coverage_test.sh
Labels: none

tests: workflows: fix binary test passing even if the script errored
  .github/testflinger-assets/test_binary_device_script.sh
Labels: none

dbus: removed symlink resolve
  daemon/src/comm/dbus.rs
Labels: none

tests: binary - the TF job did not catch the error from _run it seems
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

tests: coverage-test default RUSTFLAGS to empty in export call
  tests/coverage_test.sh
Labels: none

tests: fix binary test passing when failed and llvm-cov deprecated flag (#165)
  .github/testflinger-assets/test_binary_device_script.sh
  .github/testflinger-assets/testflinger_job.yaml
  tests/coverage_test.sh
Labels: none

comm: Block DBus property path traversal and add daemon/CLI test coverage
  cli/src/main.rs
  cli/src/set.rs
  cli/src/status.rs
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/tests/universal/control/set_bytes.rs
  daemon/tests/universal/control/write_property.rs
  daemon/tests/universal/status/read_property.rs
Labels: cli

cli: reinforced build_property_path with sanitization
  cli/src/set.rs
Labels: cli

cli: removed tests
  cli/src/main.rs
Labels: cli

cli: added tests that fails in status.rs
  cli/src/status.rs
Labels: cli

dbus: validate_property_path now resolve and validate full path
  daemon/src/comm/dbus.rs
Labels: none

cli: added docstring comments to new functions
  cli/src/set.rs
  cli/src/status.rs
  daemon/src/comm/dbus.rs
Labels: cli

dbus: changed validate_property_... parameters from &str to &Path
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
Labels: none

dbus: removed symlink resolve
  daemon/src/comm/dbus.rs
Labels: none

cli: dbus: inhibit property path traversal in DBus property access (#163)
  cli/src/set.rs
  cli/src/status.rs
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/tests/universal/control/set_bytes.rs
  daemon/tests/universal/control/write_property.rs
  daemon/tests/universal/status/read_property.rs
Labels: cli

docs: full documentation of error.rs
  daemon/src/error.rs
Labels: none

docs: full documentation of config.rs
  daemon/src/config.rs
Labels: none

docs: add readme for softeners providing a tutorial for creating a softener
  daemon/src/softeners.rs
  daemon/src/softeners/README.md
Labels: none

docs: full documentation of system_io.rs
  daemon/src/system_io.rs
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
