Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**

tests: cli: add tests for using different new options
  tests/snap_tests.py
Labels: none

root: fix cargo dependency such that fpgad_macros is found from cargo unless locally present
  daemon/Cargo.toml
Labels: none

workflows: add linter to enforce version bump on change to source files
  .github/workflows/linter.yml
  scripts/ci/check_version_bump.py
Labels: workflows

root: snapcraft.yaml - specify content identifier handle
  snap/snapcraft.yaml
Labels: none

tests: fix coverage_test.sh after rename of daemon to fpgad
  tests/coverage_test.sh
Labels: none

tests: fix coverage_test.sh after rename of daemon to fpgad
  tests/coverage_test.sh
Labels: none

snapcraft: root: workflows: cargo publishing enablement (#158)
  .git_components.yaml
  .github/workflows/linter.yml
  Cargo.lock
  Cargo.toml
  PUBLISHING.md
  cli/Cargo.toml
  daemon/Cargo.toml
  fpgad_macros/Cargo.toml
  scripts/ci/check_version_bump.py
  snap/snapcraft.yaml
  tests/coverage_test.sh
Labels: root, workflows, cli

root: version bump to 0.1.1
  Cargo.lock
  Cargo.toml
Labels: root

snapcraft: add dfx-mgr support infrastructure
  .git_components.yaml
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/error.rs
  snap/assets/softener_wrapper
  snap/hooks/install
  snap/hooks/post-refresh
  snap/snapcraft.yaml
Labels: root

root: version bump to 0.1.1 (#177)
  Cargo.lock
  Cargo.toml
Labels: root

root: macros version has to be explicitly set for publish to work
  Cargo.toml
Labels: root

root: macros version has to be explicitly set for publish to work (#178)
  Cargo.toml
Labels: root

root: refactoring all non main.rs logic to be under lib.rs
  cli/src/lib.rs
  cli/src/main.rs
  daemon/src/comm/dbus.rs
  daemon/src/lib.rs
  daemon/src/main.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
Labels: cli

workflows: export snap variables and remove explicit sourcing
  .github/testflinger-assets/env_setup.sh
  .github/testflinger-assets/test_snap_device_script.sh
  .github/testflinger-assets/testflinger_job.yaml
  .github/workflows/integration_tests.yml
Labels: workflows

workflows: Add release and cargo publish workflows
  .github/workflows/cargo-publish.yml
  .github/workflows/release.yml
  PUBLISHING.md
Labels: root, workflows

workflows: move cargo version checking to python script
  .github/workflows/cargo-publish.yml
  .github/workflows/release.yml
  scripts/ci/check_version_bump.py
Labels: workflows

root: version bump to 0.1.2
  Cargo.lock
  Cargo.toml
Labels: root

docs: copy some information from the main function's docstring into lib.rs top level doc
  cli/src/lib.rs
  daemon/src/lib.rs
Labels: cli

root: refactoring all non main.rs logic to be under lib.rs (#180)
  Cargo.lock
  Cargo.toml
  cli/src/lib.rs
  cli/src/main.rs
  daemon/src/comm/dbus.rs
  daemon/src/lib.rs
  daemon/src/main.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
Labels: root, cli

workflows: switch to workspace cargo publish
  .github/workflows/cargo-publish.yml
  PUBLISHING.md
Labels: root, workflows

workflows: Add prerelease support to release workflow
  .github/workflows/release.yml
  PUBLISHING.md
Labels: root, workflows

platforms: refactor firmware path handling into platform layer
  cli/src/proxies/control_proxy.rs
  cli/src/status.rs
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal_components.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/platforms/universal_components/universal_helpers.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
  daemon/src/system_io.rs
  daemon/tests/universal/control/set_fpga_flags.rs
Labels: cli

root: errors - add non_exhaustive to FpgadError
  daemon/src/error.rs
Labels: none

softeners: dfx-mgr - implement core functionality
  Cargo.lock
  daemon/Cargo.toml
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/softeners.rs
  daemon/src/softeners/error.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_helpers.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
Labels: root

cli: add remove_bitstream command for dfx-mgr testing
  cli/src/main.rs
  cli/src/remove.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/tests/universal/control/write_bitstream_direct.rs
Labels: cli

root: remove dead code and unused methods
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
Labels: none

dbus: platforms: add platform-level status_message method
  cli/src/main.rs
  cli/src/proxies/status_proxy.rs
  cli/src/status.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/tests/common/proxies/status_proxy.rs
  daemon/tests/universal/status.rs
  daemon/tests/universal/status/get_status_message.rs
Labels: cli

docs: document dfx-mgr implementation
  daemon/src/platforms/platform.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr_helpers.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
Labels: none

dbus: handle missing dfx-mgr component/feature
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/error.rs
Labels: none

docs: remove obsolete comm/README.md
  daemon/src/comm/README.md
Labels: none

tests: fix coverage_test.sh after rename of daemon to fpgad
  tests/coverage_test.sh
Labels: none

dbus: platforms: overlay handle can be empty - move "can't be empty" logic into platform specific code
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/universal.rs
Labels: none

softeners: move components of xilinx_dfx_mgr into submodule for cleaner feature gating
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/softeners.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_helpers.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_overlay_handler.rs
Labels: none

platforms: dfx-mgr - fix run_dfx_mgr error output strings
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: none

daemon: run softeners as a subprocess of fpgad
  daemon/src/main.rs
  daemon/src/softeners.rs
  daemon/src/softeners/softeners_thread.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  snap/assets/softener_wrapper
Labels: none

root: snapcraft.yaml - make dfx-mgr a component
  snap/hooks/component-dfx-mgr-install
  snap/hooks/component-dfx-mgr-post-refresh
  snap/hooks/component-dfx-mgr-remove
  snap/hooks/install
  snap/hooks/post-refresh
  snap/snapcraft.yaml
Labels: none

root: version bump to 0.2.0 for dfx-mgr feature
  Cargo.lock
  Cargo.toml
  daemon/src/error.rs
Labels: root

cli: rework to add platform_string override and other changes
  cli/src/load.rs
  cli/src/main.rs
  cli/src/remove.rs
  cli/src/set.rs
  cli/src/status.rs
Labels: cli

root: version bump 0.2.1
  Cargo.lock
  Cargo.toml
Labels: root

root: errors - add non_exhaustive to FpgadError
  daemon/src/error.rs
Labels: none
