Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

config: loads a configuration from /etc/fpgad/config.toml or defaults to hardcoded paths
  Cargo.lock
  Cargo.toml
  README.md
  data/config.toml
  src/comm/dbus/interfaces.rs
  src/config.rs
  src/error.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: root, daemon, comm, dbus, platforms

dbus: config: add test for thread safety on set/get config fs prefix calls
  tests/threadsafe/test_config_thread_stress.sh
Labels: none

config: create config file hierarchy
  README.md
  src/config.rs
  src/error.rs
Labels: root, daemon

config: refactor config to be its own directory
  src/comm/dbus/interfaces.rs
  src/config/config_files.rs
  src/config/mod.rs
  src/config/system_config.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, comm, dbus, platforms

config: adding systemd service configuration file
  Cargo.lock
  Cargo.toml
  README.md
  data/systemd/fpgad.service
Labels: root

config: if the user config access fails, the defaults are no longer used
  README.md
  src/comm/dbus/interfaces.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: root, comm, dbus, platforms

config: refactoring the "prefix" names
  README.md
  data/config.toml
  src/comm/dbus/interfaces.rs
  src/config/config_files.rs
  src/config/system_config.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: root, comm, dbus, platforms

config: move validate_device_handle to system_io.rs
  src/comm/dbus/interfaces.rs
  src/system_io.rs
Labels: daemon, comm, dbus

config: dbus: platforms: changing fw_prefix changes where the system looks
  Cargo.lock
  Cargo.toml
  README.md
  src/comm/dbus/interfaces.rs
  src/config/system_config.rs
  src/main.rs
Labels: root, daemon, comm, dbus

config: vector of defaults
  README.md
  data/config.toml
  src/config/boot_firmware.rs
  src/config/config_files.rs
Labels: root

config: dbus: adding the concept of a boot_firmware setting and LoadDefaults interface
  README.md
  data/config.toml
  data/systemd/fpgad-load-defaults.service
  src/comm/dbus/interfaces.rs
  src/config/boot_firmware.rs
  src/config/config_files.rs
  src/config/mod.rs
  src/main.rs
Labels: root, daemon, comm, dbus

config: user config completely overrides vendor config
  README.md
  data/config.toml
  src/config/boot_firmware.rs
  src/config/config_files.rs
Labels: root

config: platforms: implement a way to create a platform object if the user specifies the platform
  src/comm/dbus/interfaces.rs
  src/config/boot_firmware.rs
  src/platforms/platform.rs
Labels: comm, dbus, platforms

platforms: use u32 for fpga flags
  README.md
  src/comm/dbus/interfaces.rs
  src/config/config_files.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: root, comm, dbus, platforms

dbus: add get_platform_type and get_platform_types
  README.md
  src/comm/dbus/interfaces.rs
  src/error.rs
  src/platforms/platform.rs
  src/system_io.rs
Labels: root, daemon, comm, dbus, platforms

platforms: add a trace print after reading (to match all other system_io.rs functions
  src/system_io.rs
Labels: daemon

platforms: adding example of matching to zynqmp and not zynq
  src/platforms/platform.rs
Labels: platforms

dbus: using platform instead of device handle for overlay operations
  README.md
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
Labels: root, comm, dbus

dbus: refactor each interface into its own file
  src/comm/dbus/configure_interface.rs
  src/comm/dbus/control_interface.rs
  src/comm/dbus/interfaces.rs
  src/comm/dbus/mod.rs
  src/comm/dbus/status_interface.rs
  src/main.rs
Labels: daemon, comm, dbus

dbus: add an interface to fetch all overlay handles
  README.md
  src/comm/dbus/status_interface.rs
Labels: root, comm, dbus

config: refactoring the "prefix" names
  README.md
  data/config.toml
  src/comm/dbus/interfaces.rs
  src/config/config_files.rs
  src/config/system_config.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  tests/threadsafe/test_config_thread_stress.sh
Labels: root, comm, dbus, platforms

config: move validate_device_handle to system_io.rs
  src/comm/dbus/interfaces.rs
  src/system_io.rs
Labels: daemon, comm, dbus

config: if the user config access fails, the defaults are no longer used
  README.md
  src/comm/dbus/interfaces.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: root, comm, dbus, platforms

config: adding systemd service configuration file
  Cargo.lock
  Cargo.toml
  README.md
  data/systemd/fpgad.service
Labels: root

config: dbus: adding the concept of a boot_firmware setting and LoadDefaults interface
  README.md
  data/config.toml
  data/systemd/fpgad-load-defaults.service
  src/comm/dbus/interfaces.rs
  src/config/boot_firmware.rs
  src/config/config_files.rs
  src/config/mod.rs
  src/main.rs
Labels: root, daemon, comm, dbus

config: dbus: platforms: changing fw_prefix changes where the system looks
  Cargo.lock
  Cargo.toml
  README.md
  src/comm/dbus/interfaces.rs
  src/config/system_config.rs
  src/main.rs
Labels: root, daemon, comm, dbus

config: vector of defaults
  README.md
  data/config.toml
  src/config/boot_firmware.rs
  src/config/config_files.rs
Labels: root

config: platforms: implement a way to create a platform object if the user specifies the platform
  src/comm/dbus/interfaces.rs
  src/config/boot_firmware.rs
  src/platforms/platform.rs
Labels: comm, dbus, platforms

platforms: use u32 for fpga flags
  README.md
  src/comm/dbus/interfaces.rs
  src/config/config_files.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: root, comm, dbus, platforms

config: user config completely overrides vendor config
  README.md
  data/config.toml
  src/config/boot_firmware.rs
  src/config/config_files.rs
Labels: root

dbus: add get_platform_type and get_platform_types
  README.md
  src/comm/dbus/interfaces.rs
  src/error.rs
  src/platforms/platform.rs
  src/system_io.rs
Labels: root, daemon, comm, dbus, platforms

platforms: add a trace print after reading (to match all other system_io.rs functions
  src/system_io.rs
Labels: daemon

platforms: adding example of matching to zynqmp and not zynq
  src/platforms/platform.rs
Labels: platforms

dbus: using platform instead of device handle for overlay operations
  README.md
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
Labels: root, comm, dbus

dbus: refactor each interface into its own file
  src/comm/dbus/configure_interface.rs
  src/comm/dbus/control_interface.rs
  src/comm/dbus/interfaces.rs
  src/comm/dbus/mod.rs
  src/comm/dbus/status_interface.rs
  src/main.rs
Labels: daemon, comm, dbus

cli: add artiepoole to cli owners
  .git_components.yaml
Labels: root

dbus: add an interface to fetch all overlay handles
  README.md
  src/comm/dbus/status_interface.rs
Labels: root, comm, dbus

cli: update tokio dependencies to 1.46.0
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
Labels: root, cli

cli: rename binary to fpga in cargo.toml
  cli/Cargo.toml
Labels: cli

cli: create proxy files to match the dbus interfaces
  cli/src/main.rs
  cli/src/proxies/configure_proxy.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
Labels: cli

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
