Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**

snapcraft: add dfx-mgr support infrastructure
  .git_components.yaml
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/error.rs
  snap/assets/softener_wrapper
  snap/hooks/install
  snap/hooks/post-refresh
  snap/snapcraft.yaml
Labels: root

softeners: dfx-mgr - implement core functionality
  Cargo.lock
  daemon/Cargo.toml
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/softeners/error.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_helpers.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_overlay_handler.rs
Labels: root

platforms: refactor firmware path handling into platform layer
  cli/src/proxies/control_proxy.rs
  cli/src/status.rs
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal_components.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/platforms/universal_components/universal_helpers.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
  daemon/src/system_io.rs
  daemon/tests/universal/control/set_fpga_flags.rs
Labels: cli

cli: add remove_bitstream command for dfx-mgr testing
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/remove.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/error.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/tests/universal/control/write_bitstream_direct.rs
Labels: cli

dbus: platforms: add platform-level status_message method
  cli/src/lib.rs
  cli/src/proxies/status_proxy.rs
  cli/src/status.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/tests/common/proxies/status_proxy.rs
  daemon/tests/universal/status.rs
  daemon/tests/universal/status/get_status_message.rs
Labels: cli

docs: document dfx-mgr implementation
  daemon/src/platforms/platform.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_helpers.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_overlay_handler.rs
Labels: none

root: remove dead code and unused methods
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_overlay_handler.rs
Labels: none

docs: remove obsolete comm/README.md
  daemon/src/comm/README.md
Labels: none

dbus: handle missing dfx-mgr component/feature
  daemon/src/comm/dbus/control_interface.rs
Labels: none

dbus: platforms: overlay handle can be empty - move "can't be empty" logic into platform specific code
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/universal.rs
Labels: none

platforms: dfx-mgr - fix run_dfx_mgr error output strings
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: none

root: snapcraft.yaml - make dfx-mgr a component
  snap/hooks/component-dfx-mgr-install
  snap/hooks/component-dfx-mgr-post-refresh
  snap/hooks/component-dfx-mgr-remove
  snap/hooks/install
  snap/hooks/post-refresh
  snap/snapcraft.yaml
Labels: none

root: softeners: add softeners_thread.rs to run softeners as a subprocess of fpgad
  daemon/src/main.rs
  daemon/src/softeners.rs
  daemon/src/softeners/softeners_thread.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  snap/assets/softener_wrapper
Labels: none

docs: softeners/README.md fix softeners implmenetation information
  daemon/src/platforms/universal_components.rs
  daemon/src/softeners/README.md
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: none

platforms: dfx-mgr - fix dfx-mgr interface to error on subprocess fail
  daemon/src/comm/dbus/control_interface.rs
Labels: none

tests: fix get_fpga_state - use blank string
  daemon/tests/universal/status/get_fpga_state.rs
Labels: none

root: version bump to 0.2.0 for dfx-mgr feature
  Cargo.lock
  Cargo.toml
  daemon/src/error.rs
Labels: root

root: version bump 0.2.1
  Cargo.lock
  Cargo.toml
Labels: root

cli: rework to add platform_string override and other changes
  cli/src/lib.rs
  cli/src/load.rs
  cli/src/main.rs
  cli/src/remove.rs
  cli/src/set.rs
  cli/src/status.rs
Labels: cli

tests: fix universal tests after changes
  daemon/tests/universal/sequences/overlay_management.rs
  daemon/tests/universal/status/get_fpga_state.rs
Labels: none

tests: fix test data .dtbo firmware names
  daemon/tests/test_data/k24-starter-kits/k24_starter_kits.dtbo
  daemon/tests/test_data/k26-starter-kits/k26_starter_kits.dtbo
Labels: none

tests: fix binary integration test workflow
  .github/testflinger-assets/test_binary_device_script.sh
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

tests: snap tests as a component
  scripts/test_wrapper.sh
  snap/snapcraft.yaml
  tests/snap_testing/QUICK_REFERENCE.sh
  tests/snap_testing/README.md
  tests/snap_testing/__init__.py
  tests/snap_testing/common/__init__.py
  tests/snap_testing/common/base_test.py
  tests/snap_testing/common/helpers.py
  tests/snap_testing/test_default/__init__.py
  tests/snap_testing/test_default/test_cli_options.py
  tests/snap_testing/test_default/test_help.py
  tests/snap_testing/test_snap.sh
  tests/snap_testing/test_universal/__init__.py
  tests/snap_testing/test_universal/test_bitstream.py
  tests/snap_testing/test_universal/test_overlay.py
  tests/snap_testing/test_universal/test_set.py
  tests/snap_testing/test_universal/test_status.py
  tests/snap_testing/test_xlnx/__init__.py
  tests/snap_testing/test_xlnx/test_bitstream.py
  tests/snap_testing/test_xlnx/test_overlay.py
  tests/snap_testing/test_xlnx/test_set.py
  tests/snap_testing/test_xlnx/test_status.py
  tests/snap_tests.py
Labels: none

root: version bump 0.2.2
  Cargo.lock
  Cargo.toml
Labels: root

tests: dfx-mgr binary tests
  daemon/tests/common/proxies/control_proxy.rs
  daemon/tests/test_data/not_an_overlay.dtbo
  daemon/tests/test_data/overlay_invalid_utf8_firmware.dtbo
  daemon/tests/test_data/overlay_invalid_utf8_firmware.dts
  daemon/tests/test_data/overlay_no_firmware_name.dtbo
  daemon/tests/test_data/overlay_no_firmware_name.dts
  daemon/tests/test_data/overlay_nonexistent_firmware.dtbo
  daemon/tests/test_data/overlay_nonexistent_firmware.dts
  daemon/tests/universal/control/remove_bitstream.rs
  daemon/tests/xilinx_dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/control.rs
  daemon/tests/xilinx_dfx_mgr/control/apply_overlay.rs
  daemon/tests/xilinx_dfx_mgr/control/dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/control/set_fpga_flags.rs
  daemon/tests/xilinx_dfx_mgr/control/write_bitstream_direct.rs
  daemon/tests/xilinx_dfx_mgr/control/write_property.rs
  daemon/tests/xilinx_dfx_mgr/sequences.rs
  daemon/tests/xilinx_dfx_mgr/sequences/bitstream_management.rs
  daemon/tests/xilinx_dfx_mgr/sequences/overlay_management.rs
  daemon/tests/xilinx_dfx_mgr/status.rs
  daemon/tests/xilinx_dfx_mgr/status/get_fpga_flags.rs
  daemon/tests/xilinx_dfx_mgr/status/get_fpga_state.rs
  daemon/tests/xilinx_dfx_mgr/status/get_overlay_status.rs
  daemon/tests/xilinx_dfx_mgr/status/get_overlays.rs
  daemon/tests/xilinx_dfx_mgr/status/get_platform_type.rs
  daemon/tests/xilinx_dfx_mgr/status/get_platform_types.rs
  daemon/tests/xilinx_dfx_mgr/status/get_status_message.rs
  daemon/tests/xilinx_dfx_mgr/status/read_property.rs
  tests/concurent_load/test_concurrent_load.sh
  tests/coverage_test.sh
Labels: none

workflows: snap tests - update scripts to support components
  .github/testflinger-assets/test_snap_device_script.sh
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

tests: fix binary tests missing files and handle dfx-mgr returns 0 for bad args
  daemon/tests/xilinx_dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/control/dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/control/write_bitstream_direct.rs
Labels: none

tests: fix binary tests missing files and other tweaks
  daemon/tests/xilinx_dfx_mgr/control/dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/control/write_bitstream_direct.rs
  daemon/tests/xilinx_dfx_mgr/sequences/bitstream_management.rs
  daemon/tests/xilinx_dfx_mgr/sequences/overlay_management.rs
Labels: none

workflows: update dfx-mgr in binary device script
  .github/testflinger-assets/test_binary_device_script.sh
Labels: none

workflows: fix snap tests were not fetching journal logs on failed tests
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

tests: tweak snap tests to pass and fix status tests
  tests/snap_testing/test_universal/test_bitstream.py
  tests/snap_testing/test_universal/test_status.py
  tests/snap_testing/test_xlnx/test_status.py
Labels: none

workflows: integration tests - fix snap package detection logic
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

tests: workflows: tweaks to pathing and detection logic
  scripts/test_wrapper.sh
  tests/snap_testing/common/helpers.py
  tests/snap_testing/test_universal/test_bitstream.py
  tests/snap_testing/test_universal/test_overlay.py
Labels: none

workflows: fix single line autoformat mistake
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

tests: coverage_test.sh - remove unnecessary trap complication
  tests/coverage_test.sh
Labels: none

root: fix all duplicated license headers
  daemon/tests/universal/status/get_status_message.rs
  daemon/tests/xilinx_dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/control.rs
  daemon/tests/xilinx_dfx_mgr/control/set_fpga_flags.rs
  daemon/tests/xilinx_dfx_mgr/control/write_bitstream_direct.rs
  daemon/tests/xilinx_dfx_mgr/control/write_property.rs
  daemon/tests/xilinx_dfx_mgr/sequences.rs
  daemon/tests/xilinx_dfx_mgr/sequences/bitstream_management.rs
  daemon/tests/xilinx_dfx_mgr/status.rs
  daemon/tests/xilinx_dfx_mgr/status/get_fpga_flags.rs
  daemon/tests/xilinx_dfx_mgr/status/get_fpga_state.rs
  daemon/tests/xilinx_dfx_mgr/status/get_overlay_status.rs
  daemon/tests/xilinx_dfx_mgr/status/get_overlays.rs
  daemon/tests/xilinx_dfx_mgr/status/get_platform_type.rs
  daemon/tests/xilinx_dfx_mgr/status/get_platform_types.rs
  daemon/tests/xilinx_dfx_mgr/status/get_status_message.rs
  daemon/tests/xilinx_dfx_mgr/status/read_property.rs
Labels: none

cli: replace &Option<String> with Option<&String> wherever possible
  cli/src/lib.rs
  cli/src/load.rs
  cli/src/remove.rs
  cli/src/set.rs
  cli/src/status.rs
Labels: cli

tests: universal - remove finished todo note
  daemon/tests/universal.rs
Labels: none

cli: rework to add platform_string override and other changes   (#183)
  Cargo.lock
  Cargo.toml
  cli/src/lib.rs
  cli/src/load.rs
  cli/src/main.rs
  cli/src/remove.rs
  cli/src/set.rs
  cli/src/status.rs
Labels: root, cli

dbus: change todos to issue #187
  cli/src/set.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_fpga.rs
Labels: cli
