Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

platforms: softeners: remove `platform_type` api
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/softeners/xilinx_dfx_mgr.rs
Labels: platforms, softeners

app: softeners: add missing license headers
  src/softeners/error.rs
  src/softeners/xilinx_dfx_mgr.rs
  tests/concurent_load/test_concurrent_load.sh
Labels: softeners

platforms: add simple test for match_platform_string
  src/platforms/platform.rs
Labels: platforms

platforms: softeners: use PLATFORM_REGISTRY instead of substrings (#65)
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/softeners/error.rs
  src/softeners/xilinx_dfx_mgr.rs
  tests/concurent_load/test_concurrent_load.sh
Labels: daemon, platforms, softeners

app: add fpgad_macros with `platform` macro
  Cargo.lock
  Cargo.toml
  fpgad_macros/Cargo.toml
  fpgad_macros/src/lib.rs
Labels: root

app: platforms: use `platform` proc_macro in XilinxDfxMgrPlatform
  src/main.rs
  src/platforms/universal.rs
  src/softeners/xilinx_dfx_mgr.rs
Labels: daemon, platforms, softeners

workflows: add cargo test to rust checks
  .github/workflows/linter.yml
Labels: workflows

workflows: use group syntax to collapse each step
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
Labels: workflows

workflows: print gitlint messages separate for each commit
  .github/workflows/linter.yml
Labels: workflows

workflows: print Ruff messages separately for each python file
  .github/workflows/linter.yml
Labels: workflows

workflows: add cargo test to rust checks (#71)
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
Labels: workflows

dbus: implement tests for make_firmware_pair
  src/comm/dbus/control_interface.rs
Labels: comm, dbus

dbus: make_firmware_pair fixes to pass tests
  src/comm/dbus/control_interface.rs
  src/system_io.rs
Labels: daemon, comm, dbus

workflows: hotfix labeler typo
  .github/workflows/labeler.yml
Labels: workflows

workflows: hotfix labeler typo (#74)
  .github/workflows/labeler.yml
Labels: workflows

dbus: implement tests for make_firmware_pair
  src/comm/dbus/control_interface.rs
Labels: comm, dbus

dbus: make_firmware_pair fixes to pass tests
  src/comm/dbus/control_interface.rs
  src/system_io.rs
Labels: daemon, comm, dbus

platforms: universal - checks after writing flags should warn instead of error
  src/platforms/universal_components/universal_fpga.rs
Labels: platforms

dbus: write_property should return String
  src/comm/dbus/control_interface.rs
Labels: comm, dbus

cli: update proxies to match interface
  cli/src/proxies/control_proxy.rs
Labels: cli

app: add fpgad_macros with platform macro (#67)
  Cargo.lock
  Cargo.toml
  fpgad_macros/Cargo.toml
  fpgad_macros/src/lib.rs
  src/main.rs
  src/platforms/universal.rs
  src/softeners/xilinx_dfx_mgr.rs
Labels: root, daemon, platforms, softeners

platforms: dbus: cli: minor fixes (#75)
  cli/src/proxies/control_proxy.rs
  src/comm/dbus/control_interface.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: comm, dbus, platforms, cli

root: general - refactoring to use modern module format
  src/comm.rs
  src/comm/dbus.rs
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
  src/platforms.rs
  src/platforms/mod.rs
  src/platforms/universal_components.rs
  src/softeners.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

root: general - refactoring to use modern module format (#76)
  src/comm.rs
  src/comm/dbus.rs
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
  src/platforms.rs
  src/platforms/mod.rs
  src/platforms/universal_components.rs
  src/softeners.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

softeners: platforms: use `ctor` to register platforms
  Cargo.lock
  Cargo.toml
  fpgad_macros/src/lib.rs
  src/main.rs
  src/softeners/xilinx_dfx_mgr.rs
Labels: root, daemon, softeners

softeners: use rust features to make softeners optional
  Cargo.toml
  src/error.rs
  src/main.rs
  src/softeners.rs
Labels: root, daemon

dbus: implement unit tests for make_firmware_pair
  src/comm/dbus/control_interface.rs
Labels: comm, dbus

dbus: refactor make_firmware_pair and its unit tests to dbus.rs
  src/comm/dbus.rs
  src/comm/dbus/control_interface.rs
Labels: comm, dbus

dbus: fix make_firmware_pair to pass tests
  src/comm/dbus.rs
Labels: comm

dbus: make_firmware_pair should error if the resulting suffix is empty
  src/comm/dbus.rs
Labels: comm

platforms: implement "working case only" integration tests for universal
  Cargo.lock
  Cargo.toml
  integration-tests/Cargo.toml
  integration-tests/README.md
  integration-tests/src/main.rs
  integration-tests/src/proxies.rs
  integration-tests/src/proxies/control_proxy.rs
  integration-tests/src/proxies/status_proxy.rs
  integration-tests/src/universal.rs
  integration-tests/src/universal/test_control.rs
  integration-tests/src/universal/test_sequence.rs
  integration-tests/src/universal/test_status.rs
Labels: root

softeners: use rust features to make softeners optional (#69)
  Cargo.toml
  src/error.rs
  src/main.rs
  src/softeners.rs
Labels: root, daemon

root: major refactor - move fpgad daemon files into subdir
  Cargo.toml
  README.md
  daemon/Cargo.toml
  daemon/README.md
  daemon/src/comm.rs
  daemon/src/comm/README.md
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/config.rs
  daemon/src/error.rs
  daemon/src/main.rs
  daemon/src/platforms.rs
  daemon/src/platforms/README.md
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/platforms/universal_components.rs
  daemon/src/platforms/universal_components/README.md
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/service.rs
  daemon/src/softeners.rs
  daemon/src/softeners/README.md
  daemon/src/softeners/error.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/system_io.rs
  daemon/tests/concurent_load/test_concurrent_load.sh
  snap/snapcraft.yaml
Labels: root

root: refactor daemon files into non-root directory (#70)
  Cargo.toml
  README.md
  daemon/Cargo.toml
  daemon/README.md
  daemon/src/comm.rs
  daemon/src/comm/README.md
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/config.rs
  daemon/src/error.rs
  daemon/src/main.rs
  daemon/src/platforms.rs
  daemon/src/platforms/README.md
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/platforms/universal_components.rs
  daemon/src/platforms/universal_components/README.md
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/service.rs
  daemon/src/softeners.rs
  daemon/src/softeners/README.md
  daemon/src/softeners/error.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/system_io.rs
  daemon/tests/concurent_load/test_concurrent_load.sh
  snap/snapcraft.yaml
Labels: root

root: move bash based test out of daemon/tests
  tests/concurent_load/test_concurrent_load.sh
Labels: none

dbus: refactor make_firmware_pair out of control_interface into dbus.rs
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
Labels: none

dbus: make_firmware_pair should error if the resulting suffix is empty
  daemon/src/comm/dbus.rs
Labels: none

dbus: implement unit tests for make_firmware_pair using rstest
  Cargo.lock
  daemon/Cargo.toml
  daemon/src/comm/dbus.rs
Labels: root

dbus: add make_firmware_pair docstring
  daemon/src/comm/dbus.rs
Labels: none

dbus: implement unit tests for make_firmware_pair (#80)
  Cargo.lock
  daemon/Cargo.toml
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  tests/concurent_load/test_concurrent_load.sh
Labels: root

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
