Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

root: create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: root

workflows: add canonical cla check
  .github/workflows/cla-check.yml
Labels: workflows

root: update .gitlint configuration to require sign off
  .gitlint
Labels: root

root: add gitlint into precommit hooks
  .pre-commit-config.yaml
Labels: root

root: update .gitlint configuration to require sign off
  .gitlint
Labels: root

root: add gitlint into precommit hooks
  .pre-commit-config.yaml
Labels: root

platforms: edit license - devicetree -> device-tree
  scripts/ci/check_pull_request.py
  scripts/ci/gitlint/fpgad_commit_rules.py
  src/comm/README.md
  src/comm/dbus/interfaces.rs
  src/comm/dbus/mod.rs
  src/comm/mod.rs
  src/error.rs
  src/main.rs
  src/platforms/mod.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/service.rs
  src/softeners/mod.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms, softeners

platforms: replacing eprintln! and println! with error! and info! respectively
  src/main.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, platforms

platforms: refactor component of universal into separate files
  src/platforms/README.md
  src/platforms/universal.rs
  src/platforms/universal_components/README.md
  src/platforms/universal_components/mod.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

platforms: adding wrapper for create_dir_all and remove_dir to system_io
  src/system_io.rs
Labels: daemon

platforms: testing in main with hardcoded paths
  src/main.rs
Labels: daemon

dbus: handle unsafe unwraps when getting filename from path
  src/platforms/universal.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

platforms: remove "drop" implementation from universal_overlay_handler.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

root: add artiepoole to owners of platforms
  .git_components.yaml
Labels: root

platforms: adding handling of different error types in system_io
  src/system_io.rs
Labels: daemon

platforms: creating custom error types for each type of error encountered
  src/error.rs
  src/platforms/platform.rs
Labels: daemon, platforms

platforms: remove "rollback steps" from universal_overlay_handler
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

platforms: move assert_state to be implementation specific
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: platforms

platforms: move prepare_for_load to be implementation specific for UniversalOverlayHandler
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

platforms: fixing error usage convention
  src/error.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, platforms

platforms: refactoring to make the code stateless and moving load/unload logic to main.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, platforms

platforms: clippy fixes - mostly using Ok(foo()?) replaced with foo()
  src/main.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, platforms

platforms: fix bad comment in UniversalPlatform's overlay_handler()
  src/platforms/universal.rs
Labels: platforms

platforms: replacing accidentally added println! with info! so I replaced it
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

platforms: add Error suffix to custom error types
  src/error.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, platforms

platforms: linter didn't like import order
  src/main.rs
Labels: daemon

platforms: huge clarity improvements for universal_overlay_handler apply_overlay steps
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, platforms

platforms: documentation changes in code and in readme files
  src/comm/README.md
  src/platforms/README.md
  src/platforms/platform.rs
  src/platforms/universal_components/README.md
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, comm, platforms

dbus: platforms: IO errors no longer take String, instead different structs are implemented for each
  src/error.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, platforms

dbus: add artiepoole to dbus component owners
  .git_components.yaml
Labels: root

platforms: rename name and name to platform_type and device_handle for platform and fpga respectively
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: daemon, platforms

platforms: use if let Err(e) pattern in universal_fpga.set_flags() for clarity
  src/error.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: daemon, platforms

platforms: tidy imports in system_io.rs
  src/system_io.rs
Labels: daemon

platforms: move fpga device_handle check logic into UniversalFPGA's new method
  src/main.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, platforms

platforms: implement placeholder get_platform logic
  src/platforms/platform.rs
Labels: platforms

platforms: renaming "name" to "device_handle" for fpga init/getter arg
  src/platforms/universal.rs
Labels: platforms

dbus: implement error conversion to satisfy zbus Result type
  src/error.rs
Labels: daemon

platforms: remove "get_" prefix for getters in platforms
  src/comm/dbus/interfaces.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: comm, dbus, platforms

dbus: implement dbus interfaces for all available actions
  README.md
  com.canonical.fpgad.conf
  src/comm/dbus/interfaces.rs
  src/main.rs
Labels: root, daemon, comm, dbus

dbus: add architecture diagram image
  README.md
Labels: root

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
