Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**

dbus: implement dbus interfaces for all available actions
  README.md
  data/dbus/com.canonical.fpgad.conf
  src/comm/dbus/interfaces.rs
  src/main.rs
Labels: root, daemon, comm, dbus

dbus: add architecture diagram image
  .git_components.yaml
  README.md
  docs/assets/anticipated_architecture.png
Labels: root

platforms: remove "get_" prefix for getters in platforms
  src/comm/dbus/interfaces.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: comm, dbus, platforms

dbus: tidying interfaces and fixing return strings for paths
  src/comm/dbus/interfaces.rs
Labels: comm, dbus

dbus: platforms: OnceCellification
  src/comm/dbus/interfaces.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: comm, dbus, platforms

dbus: separate out the removal of overlaydir to be explicit always
  src/platforms/platform.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

dbus: add typical control sequences to readme
  README.md
Labels: root

platforms: Fix load_firmware implementation
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: platforms

dbus: require fpga_handle for all calls due to platform detection logic
  README.md
  src/comm/dbus/interfaces.rs
Labels: root, comm, dbus

platforms: overlay handler can no longer exist without overlay_fs_path
  src/comm/dbus/interfaces.rs
  src/platforms/README.md
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/README.md
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: comm, dbus, platforms

platforms: use chaining on platform where possible
  src/comm/dbus/interfaces.rs
Labels: comm, dbus

platforms: removing the need for source path to be stored
  src/comm/dbus/interfaces.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: comm, dbus, platforms

dbus: implement dbus interafaces for existing functionality (#18)
  .git_components.yaml
  README.md
  data/dbus/com.canonical.fpgad.conf
  docs/assets/anticipated_architecture.png
  src/comm/dbus/interfaces.rs
  src/error.rs
  src/main.rs
  src/platforms/README.md
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/README.md
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: root, daemon, comm, dbus, platforms

platforms: move hardcoded paths into one place for easier maintenance
  src/comm/dbus/interfaces.rs
  src/config.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, comm, dbus, platforms

platforms: move hardcoded paths into one place for easier maintenance (#24)
  src/comm/dbus/interfaces.rs
  src/config.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, comm, dbus, platforms

platforms: implementing platform type lookup but spoofing results to Universal always
  src/platforms/platform.rs
Labels: platforms

cli: add load command
  cli/src/main.rs
Labels: cli

platforms: implementing platform type lookup but spoofing results to Universal always (#23)
  src/platforms/platform.rs
Labels: platforms

config: add a config component with artiepoole as an owner
  .git_components.yaml
Labels: root

config: store configuration in static Config variable
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, platforms

dbus: implement configure interface to get paths
  README.md
  data/dbus/com.canonical.fpgad.conf
  src/comm/dbus/interfaces.rs
  src/config.rs
  src/error.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: root, daemon, comm, dbus, platforms

dbus: config: add test for thread safety on set/get config fs prefix calls
  tests/threadsafe/test_config_thread_stress.sh
Labels: none

config: loads a configuration from /etc/fpgad/config.toml or defaults to hardcoded paths
  Cargo.lock
  Cargo.toml
  README.md
  data/config.toml
  src/comm/dbus/interfaces.rs
  src/config.rs
  src/error.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: root, daemon, comm, dbus, platforms

config: create config file hierarchy
  README.md
  src/config.rs
  src/error.rs
Labels: root, daemon

cli: add load command (#22)
  cli/src/main.rs
Labels: cli

cli: add remove command
  cli/src/main.rs
Labels: cli

cli: add remove command (#27)
  cli/src/main.rs
Labels: cli

config: refactor config to be its own directory
  src/comm/dbus/interfaces.rs
  src/config/config_files.rs
  src/config/mod.rs
  src/config/system_config.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, comm, dbus, platforms

config: adding systemd service configuration file
  Cargo.lock
  Cargo.toml
  README.md
  data/systemd/fpgad.service
Labels: root

config: move validate_device_handle to system_io.rs
  src/comm/dbus/interfaces.rs
  src/system_io.rs
Labels: daemon, comm, dbus

config: adding the concept of a boot_firmware setting
  README.md
  data/config.toml
  src/config/boot_firmware.rs
  src/config/config_files.rs
  src/config/mod.rs
  src/main.rs
Labels: root, daemon

config: dbus: platforms: changing fw_prefix changes where the system looks
  README.md
  src/comm/dbus/interfaces.rs
  src/config/system_config.rs
  src/main.rs
Labels: root, daemon, comm, dbus

config: refactoring the "prefix" names
  README.md
  data/config.toml
  src/comm/dbus/interfaces.rs
  src/config/config_files.rs
  src/config/system_config.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: root, comm, dbus, platforms

config: if the user config access fails, the defaults are no longer used
  README.md
  src/comm/dbus/interfaces.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: root, comm, dbus, platforms

config: adding systemd service configuration file
  Cargo.lock
  Cargo.toml
  README.md
  data/systemd/fpgad.service
Labels: root

config: move validate_device_handle to system_io.rs
  src/comm/dbus/interfaces.rs
  src/system_io.rs
Labels: daemon, comm, dbus

config: dbus: platforms: changing fw_prefix changes where the system looks
  Cargo.lock
  Cargo.toml
  README.md
  src/comm/dbus/interfaces.rs
  src/config/system_config.rs
  src/main.rs
Labels: root, daemon, comm, dbus

dbus: implement configure interface to get paths
  README.md
  data/dbus/com.canonical.fpgad.conf
  src/comm/dbus/interfaces.rs
  src/config.rs
  src/error.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: root, daemon, comm, dbus, platforms

config: store configuration in static Config variable
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, platforms

config: add a config component with artiepoole as an owner
  .git_components.yaml
Labels: root
