Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

cli: implement status command
  cli/README.md
  cli/src/main.rs
  cli/src/status.rs
Labels: cli

cli: implement loading of bitstreams and overlays
  cli/README.md
  cli/src/load.rs
  cli/src/main.rs
Labels: cli

cli: implement remove overlay command
  cli/README.md
  cli/src/main.rs
  cli/src/remove.rs
  cli/src/status.rs
Labels: cli

cli: use pretty tables for status
  Cargo.lock
  cli/Cargo.toml
  cli/src/status.rs
Labels: root, cli

platforms: dbus: replace impl with dyn for Platform and its getters/member traits
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
  src/config/boot_firmware.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
Labels: comm, dbus, platforms

dbus: all calls to fpga device require a platform string
  README.md
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
Labels: root, comm, dbus

platforms: weird type signature for fs_write's value argument
  src/platforms/universal_components/universal_fpga.rs
  src/system_io.rs
Labels: daemon, platforms

dbus: add get_platform_type and get_platform_types
  README.md
  src/comm/dbus/interfaces.rs
  src/error.rs
  src/platforms/platform.rs
  src/system_io.rs
Labels: root, daemon, comm, dbus, platforms

platforms: use universal if read_compat_string succeeds but platform not supported
  src/platforms/platform.rs
Labels: platforms

platforms: use u32 for fpga flags
  README.md
  src/comm/dbus/interfaces.rs
  src/config/config_files.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: root, comm, dbus, platforms

config: adding systemd service configuration file
  README.md
  data/systemd/fpgad.service
Labels: root

config: move validate_device_handle to system_io.rs
  src/comm/dbus/interfaces.rs
  src/system_io.rs
Labels: daemon, comm, dbus

config: dbus: platforms: changing fw_prefix changes where the system looks
  Cargo.lock
  README.md
  src/comm/dbus/interfaces.rs
  src/config.rs
  src/main.rs
Labels: root, daemon, comm, dbus

config: dbus platforms: refactor path variable names to remove "prefix"
  src/comm/dbus/interfaces.rs
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

platforms: add a trace print after reading (to match all other system_io.rs functions
  src/system_io.rs
Labels: daemon

platforms: adding example of matching to zynqmp and not zynq
  src/platforms/platform.rs
Labels: platforms

dbus: refactor each interface into its own file
  src/comm/dbus/configure_interface.rs
  src/comm/dbus/control_interface.rs
  src/comm/dbus/interfaces.rs
  src/comm/dbus/mod.rs
  src/comm/dbus/status_interface.rs
  src/main.rs
Labels: daemon, comm, dbus

dbus: using platform instead of device handle for overlay operations
  README.md
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
Labels: root, comm, dbus

dbus: add an interface to fetch all overlay handles
  README.md
  src/comm/dbus/status_interface.rs
Labels: root, comm, dbus

dbus: update tokio
  Cargo.lock
  Cargo.toml
Labels: root

platforms: add fs_read_dir to system_io
  src/error.rs
  src/system_io.rs
Labels: daemon

platforms: dbus: refactor validate device handle to be in system_io.rs
  src/system_io.rs
Labels: daemon

dbus: refactor interfaces to be separate files for each
  src/comm/dbus/control_interface.rs
  src/comm/dbus/mod.rs
  src/comm/dbus/status_interface.rs
  src/main.rs
Labels: daemon, comm, dbus

platforms: use u32 for fpga flags to match kernel source
  src/comm/dbus/control_interface.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: comm, dbus, platforms

config: refactor path variables and create config interface
  src/comm/dbus/configure_interface.rs
  src/comm/dbus/mod.rs
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

config: create systemd service template
  data/systemd/fpgad.service
Labels: none

platforms: require platform string for calls not specifically requiring device
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

cli: add artiepoole to cli owners Signed-off-by: Artie Poole <stuart.poole@canonical.com>
  .git_components.yaml
Labels: root

dbus: update README.md
  README.md
Labels: root

cli: rename binary to fpga in cargo.toml
  Cargo.lock
  cli/Cargo.toml
Labels: root, cli

cli: create proxy files to match the dbus interfaces
  Cargo.lock
  cli/Cargo.toml
  cli/src/main.rs
  cli/src/proxies/configure_proxy.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
Labels: root, cli

cli: implement status command
  cli/README.md
  cli/src/main.rs
  cli/src/status.rs
Labels: cli

cli: implement loading of bitstreams and overlays
  cli/README.md
  cli/src/load.rs
  cli/src/main.rs
Labels: cli

cli: implement remove overlay command
  cli/README.md
  cli/src/main.rs
  cli/src/remove.rs
Labels: cli

cli: use pretty tables for status
  Cargo.lock
  cli/Cargo.toml
  cli/src/status.rs
Labels: root, cli

platforms: dbus: formatter requirements updated
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
  src/error.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

platforms: use u32 for fpga flags to match kernel source
  src/comm/dbus/control_interface.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

config: refactor path variables and create config interface
  src/comm/dbus/configure_interface.rs
  src/comm/dbus/mod.rs
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

platforms: require platform string for calls not specifically requiring device
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

platforms: dbus: refactor validate device handle to be in system_io.rs
  src/system_io.rs
Labels: daemon

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
