Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

root: snap interfaces missing for core enablement of cli
  snap/snapcraft.yaml
Labels: none

dbus: replace trace with info for entry to calls
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
Labels: none

cli: enable status to work even if overlays not accessible
  cli/src/status.rs
Labels: cli

root: fpgad_macros clippy auto fixes
  fpgad_macros/src/lib.rs
Labels: none

root: "ItemStruct" is in "full" features of syn
  fpgad_macros/Cargo.toml
Labels: none

root: cli: dbus: fix cli failures related to interface limitations on core (#101)
  cli/src/status.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  fpgad_macros/Cargo.toml
  fpgad_macros/src/lib.rs
  snap/snapcraft.yaml
Labels: cli

root: rename dbus interfaces for easier reading
  snap/snapcraft.yaml
Labels: none

root: snap - just add content interface
  snap/snapcraft.yaml
Labels: none

root: snap - just add content interface (#104)
  snap/snapcraft.yaml
Labels: none

root: rename dbus interfaces for easier reading (#103)
  snap/snapcraft.yaml
Labels: none

cli: put command relevant code in alphabetical order within relevant blocks
  cli/README.md
  cli/src/main.rs
Labels: cli

cli: add the ability to set any fpga0 attribute to any value
  cli/README.md
  cli/src/main.rs
  cli/src/set.rs
Labels: cli

cli: add the ability to set any fpga* attribute to any value (#109)
  cli/README.md
  cli/src/main.rs
  cli/src/set.rs
Labels: cli

root: rename `fpgad` to `daemon` in cargo definition to match snap
  Cargo.lock
  daemon/Cargo.toml
  snap/snapcraft.yaml
Labels: root

config: Saved for later - fully implemented config system with default bitstream support
  .git_components.yaml
  Cargo.lock
  Cargo.toml
  README.md
  data/config.toml
  data/dbus/com.canonical.fpgad.conf
  data/systemd/fpgad-load-defaults.service
  data/systemd/fpgad.service
  src/comm/dbus/interfaces.rs
  src/config.rs
  src/config/boot_firmware.rs
  src/config/config_files.rs
  src/config/mod.rs
  src/config/system_config.rs
  src/error.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
  tests/threadsafe/test_config_thread_stress.sh
Labels: root, daemon, comm, dbus, platforms

workflows: add tics into the linter for quality gating
  .github/workflows/linter.yml
Labels: workflows

scripts: hotfix for binary name in integration tests
  tests/coverage_test.sh
Labels: none

root: rename `fpgad` to `daemon` in cargo definition to match snap (#110)
  Cargo.lock
  daemon/Cargo.toml
  snap/snapcraft.yaml
  tests/coverage_test.sh
Labels: root

dbus: comm: io - adds fs_write_bytes and write_property_bytes
  daemon/README.md
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/system_io.rs
Labels: none

dbus: comm: io - adds fs_write_bytes and write_property_bytes
  cli/src/proxies/control_proxy.rs
  daemon/tests/common/proxies/control_proxy.rs
  daemon/tests/universal/control.rs
  daemon/tests/universal/control/set_bytes.rs
Labels: cli

docs: add a tree like structure for the usage description
  cli/README.md
Labels: cli

comm: dbus: printing flags in hex with `0x` prefix
  daemon/README.md
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
Labels: none

tests: use lcov format for full_report from coverage tests
  .git_components.yaml
  tests/coverage_test.sh
Labels: root

tests: use lcov format for full_report from coverage tests (#115)
  .git_components.yaml
  tests/coverage_test.sh
Labels: root

dbus: comm: io - adds fs_write_bytes and write_property_bytes (#113)
  cli/src/proxies/control_proxy.rs
  daemon/README.md
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/system_io.rs
  daemon/tests/common/proxies/control_proxy.rs
  daemon/tests/universal/control.rs
  daemon/tests/universal/control/set_bytes.rs
Labels: cli

docs: dbus: using tree structure for usage docs and always print flags in unambiguous hex (#114)
  cli/README.md
  daemon/README.md
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
Labels: cli

tests: fail the workflow if the tests failed but finished
  .github/testflinger-assets/device-script.sh
  .github/testflinger-assets/testflinger_job.yaml
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

root: fix new linter warnings - new linter version
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: none

tests: fix match string for hex flags output
  daemon/tests/universal/control/set_fpga_flags.rs
Labels: none

tests: fail the workflow if the tests failed but finished (#119)
  .github/testflinger-assets/device-script.sh
  .github/testflinger-assets/testflinger_job.yaml
  .github/workflows/integration_tests.yaml.yml
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/tests/universal/control/set_fpga_flags.rs
Labels: workflows

cli: add support for loading files from current directory
  cli/src/load.rs
Labels: cli

workflows: add tics into the linter for quality gating
  .github/workflows/integration_tests.yml
  .github/workflows/linter.yml
  .github/workflows/tics_scan.yml
Labels: workflows

dropme: pls pls
  .github/workflows/integration_tests.yml
Labels: workflows

workflows: add permissions to tics job
  .github/workflows/tics_scan.yml
Labels: workflows

dropme: let coverage tests continue on failure
  tests/coverage_test.sh
Labels: none

linter: diable tics on pull request
  .github/workflows/linter.yml
Labels: workflows

tests: RUSTFLAGS causing unboundflag error in bash removed set -u
  tests/coverage_test.sh
Labels: none

app: fix clippy error for format
  daemon/src/system_io.rs
Labels: none

dbus: comm: remove the path checking on load calls
  daemon/src/comm/dbus/control_interface.rs
Labels: none

root: add sandbox dir to .gitignore
  .gitignore
Labels: root

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
