Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**

workflows: test only unit tests in the linter step
  .github/workflows/linter.yml
Labels: workflows

workflows: test only unit tests in the linter step (#81)
  .github/workflows/linter.yml
Labels: workflows

workflows: add snap build to linter
  .github/workflows/linter.yml
Labels: workflows

workflows: add snap build to linter (#82)
  .github/workflows/linter.yml
Labels: workflows

dbus: platforms: implement various integration tests
  Cargo.lock
  daemon/src/comm/dbus/status_interface.rs
  daemon/tests/README.md
  daemon/tests/common/mod.rs
  daemon/tests/common/proxies.rs
  daemon/tests/common/proxies/control_proxy.rs
  daemon/tests/common/proxies/status_proxy.rs
  daemon/tests/common/test_functions.rs
  daemon/tests/universal.rs
  daemon/tests/universal/control.rs
  daemon/tests/universal/control/set_fpga_flags.rs
  daemon/tests/universal/control/write_bitstream_direct.rs
  daemon/tests/universal/control/write_property.rs
  daemon/tests/universal/sequences.rs
  daemon/tests/universal/sequences/bitstream_management.rs
  daemon/tests/universal/sequences/overlay_management.rs
  daemon/tests/universal/sequences/status_reporting.rs
  daemon/tests/universal/status.rs
  daemon/tests/universal/status/get_fpga_flags.rs
  daemon/tests/universal/status/get_fpga_state.rs
  daemon/tests/universal/status/get_overlay_status.rs
  daemon/tests/universal/status/get_overlays.rs
  daemon/tests/universal/status/get_platform_type.rs
  daemon/tests/universal/status/get_platform_types.rs
  daemon/tests/universal/status/read_property.rs
Labels: root

docs: add code coverage check instructions for running the integration tests on remote device
  docs/code_coverage.md
Labels: none

daemon: dbus: catch bad input as Argument issue instead of IO issue
  daemon/src/comm/dbus/control_interface.rs
Labels: none

dbus: make better use of gtest tooling in test_make_firmware_pair tests
  daemon/src/comm/dbus.rs
Labels: none

dbus: platforms: implement various integration tests
  Cargo.lock
  daemon/src/comm/dbus/status_interface.rs
  daemon/tests/README.md
  daemon/tests/common/mod.rs
  daemon/tests/common/proxies.rs
  daemon/tests/common/proxies/control_proxy.rs
  daemon/tests/common/proxies/status_proxy.rs
  daemon/tests/test_data/k24-starter-kits/LICENSE
  daemon/tests/test_data/k24-starter-kits/k24_starter_kits.bit.bin
  daemon/tests/test_data/k24-starter-kits/k24_starter_kits.dtbo
  daemon/tests/test_data/k24-starter-kits/shell.json
  daemon/tests/test_data/k26-starter-kits/LICENSE
  daemon/tests/test_data/k26-starter-kits/k26_starter_kits.bit.bin
  daemon/tests/test_data/k26-starter-kits/k26_starter_kits.dtbo
  daemon/tests/test_data/k26-starter-kits/shell.json
  daemon/tests/universal.rs
  daemon/tests/universal/control.rs
  daemon/tests/universal/control/set_fpga_flags.rs
  daemon/tests/universal/control/write_bitstream_direct.rs
  daemon/tests/universal/control/write_property.rs
  daemon/tests/universal/sequences.rs
  daemon/tests/universal/sequences/bitstream_management.rs
  daemon/tests/universal/sequences/overlay_management.rs
  daemon/tests/universal/status.rs
  daemon/tests/universal/status/get_fpga_flags.rs
  daemon/tests/universal/status/get_fpga_state.rs
  daemon/tests/universal/status/get_overlay_status.rs
  daemon/tests/universal/status/get_overlays.rs
  daemon/tests/universal/status/get_platform_type.rs
  daemon/tests/universal/status/get_platform_types.rs
  daemon/tests/universal/status/read_property.rs
  tests/coverage_test.sh
Labels: root

root: implement code coverage script
  daemon/tests/test_data/com.canonical.fpgad.conf
  tests/coverage_test.sh
Labels: none

docs: add explanation of code coverage approach
  docs/code_coverage.md
Labels: none

platforms: dbus: write_bitstream_direct hotfix
  daemon/src/comm/dbus/control_interface.rs
Labels: none

dbus: fix the missing await for `get_write_lock_guard`
  daemon/src/comm/dbus/control_interface.rs
Labels: none

platforms: change written string to hex encoding for flags
  daemon/src/platforms/universal_components/universal_fpga.rs
Labels: none

platforms: dbus: apply_overlay catching bad inputs
  daemon/README.md
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
Labels: none

root: update dependencies
  Cargo.lock
  cli/Cargo.toml
  daemon/Cargo.toml
Labels: root, cli

root: add build and run instructions to top level README.md
  README.md
Labels: root

pre-draft system_io integration tests
  daemon/src/lib.rs
  daemon/src/main.rs
  daemon/tests/integration_tests.rs
  daemon/tests/integration_tests/system_io.rs
  daemon/tests/integration_tests/universal.rs
  daemon/tests/integration_tests/universal/control.rs
  daemon/tests/integration_tests/universal/control/set_fpga_flags.rs
  daemon/tests/integration_tests/universal/control/write_bitstream_direct.rs
  daemon/tests/integration_tests/universal/control/write_property.rs
  daemon/tests/integration_tests/universal/sequences.rs
  daemon/tests/integration_tests/universal/sequences/bitstream_management.rs
  daemon/tests/integration_tests/universal/sequences/overlay_management.rs
  daemon/tests/integration_tests/universal/status.rs
  daemon/tests/integration_tests/universal/status/get_fpga_flags.rs
  daemon/tests/integration_tests/universal/status/get_fpga_state.rs
  daemon/tests/integration_tests/universal/status/get_overlay_status.rs
  daemon/tests/integration_tests/universal/status/get_overlays.rs
  daemon/tests/integration_tests/universal/status/get_platform_type.rs
  daemon/tests/integration_tests/universal/status/get_platform_types.rs
  daemon/tests/integration_tests/universal/status/read_property.rs
  daemon/tests/universal.rs
  tests/coverage_test.sh
Labels: none

root: updated checks means impl Default is required
  daemon/src/platforms/universal.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: none

fix test script after libification
  tests/coverage_test.sh
Labels: none

softeners: tests needs to be tied to features to not break tests
  daemon/src/platforms/platform.rs
Labels: none

a pretty mid and half-effort set of tests
  daemon/tests/integration_tests/system_io.rs
Labels: none

dbus: make better use of gtest tooling in test_make_firmware_pair tests
  daemon/src/comm/dbus.rs
Labels: none

dbus: make consistent use of `config` prefix when accessing constants
  daemon/src/comm/dbus.rs
Labels: none

dbus: make better use of gtest tooling in test_make_firmware_pair tests (#86)
  daemon/src/comm/dbus.rs
Labels: none

root: snap - add strict confinement using interfaces
  snap/snapcraft.yaml
Labels: none

dbus: result of load calls should print generated prefix
  daemon/src/comm/dbus/control_interface.rs
Labels: none

root: snap - add strict confinement and add kernel-firmware-control
  snap/snapcraft.yaml
Labels: none

root: snap - add device-tree-overlays system-files interface
  snap/snapcraft.yaml
Labels: none

dbus: result of load calls should print generated prefix
  daemon/src/comm/dbus/control_interface.rs
Labels: none

root: snap - add strict confinement using interfaces (#87)
  daemon/src/comm/dbus/control_interface.rs
  snap/snapcraft.yaml
Labels: none

root: upgrade snap grade to stable
  snap/snapcraft.yaml
Labels: none

root: upgrade snap grade to stable (#92)
  snap/snapcraft.yaml
Labels: none

workflows: add blank testflinger workflow
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

workflows: add blank testflinger workflow (#95)
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

Notes added by 'git_note_create' from libgit2
  0bf55eef10158e56402b3cea11dbfd2fcb92f7c6
Labels: root

snap: add bitstreams content interface
  .git_components.yaml
  snap/snapcraft.yaml
Labels: root

fixup! snap: add bitstreams content interface
  snap/snapcraft.yaml
Labels: none

workflows: implement testflinger workflow and job template
  .github/testflinger-assets/device-script.sh
  .github/testflinger-assets/testflinger_job.yaml
  .github/workflows/integration_tests.yaml.yml
  tests/coverage_test.sh
Labels: workflows

workflows: implement testflinger workflow and job template (#98)
  .github/testflinger-assets/device-script.sh
  .github/testflinger-assets/testflinger_job.yaml
  .github/workflows/integration_tests.yaml.yml
  tests/coverage_test.sh
Labels: workflows
