Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**

root: snapcraft.yaml - allow for content interface for cli
  snap/snapcraft.yaml
  snap/wrapper/fpgad_cli_wrapper.py
  tests/snap_testing/common/base_test.py
Labels: none

platforms: linter fixes
  daemon/src/platforms/xilinx_sys.rs
Labels: none

root: version bump 0.4.2 -> 0.4.3
  Cargo.lock
  Cargo.toml
Labels: root

root: snapcraft.yaml - provide fpgad_cli via content interface (#215)
  Cargo.lock
  Cargo.toml
  README.md
  daemon/src/platforms/xilinx_sys.rs
  snap/README.md
  snap/snapcraft.yaml
  snap/wrapper/fpgad_cli_wrapper.py
  tests/snap_testing/common/base_test.py
Labels: root

root: add fpgad_proxies library crate
  Cargo.lock
  Cargo.toml
  fpgad_proxies/Cargo.toml
  fpgad_proxies/src/lib.rs
  fpgad_proxies/src/proxies.rs
  fpgad_proxies/src/proxies/control_proxy.rs
  fpgad_proxies/src/proxies/status_proxy.rs
Labels: root

cli: replaced cli's own proxies with fpgad_proxies
  cli/Cargo.toml
  cli/src/dfx_mgr.rs
  cli/src/lib.rs
  cli/src/load.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
  cli/src/remove.rs
  cli/src/set.rs
  cli/src/status.rs
  cli/src/xlnx_sys.rs
Labels: cli

daemon: replaced test's common module with fpgad_proxies
  .git_components.yaml
  daemon/Cargo.toml
  daemon/tests/common/mod.rs
  daemon/tests/xilinx_dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/control/apply_overlay.rs
  daemon/tests/xilinx_dfx_mgr/control/dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/control/write_bitstream_direct.rs
  daemon/tests/xilinx_dfx_mgr/sequences/bitstream_management.rs
  daemon/tests/xilinx_dfx_mgr/sequences/overlay_management.rs
  daemon/tests/xilinx_dfx_mgr/status/get_fpga_state.rs
  daemon/tests/xilinx_dfx_mgr/status/get_overlay_status.rs
  daemon/tests/xilinx_dfx_mgr/status/get_overlays.rs
  daemon/tests/xilinx_dfx_mgr/status/get_platform_type.rs
  daemon/tests/xilinx_dfx_mgr/status/get_platform_types.rs
  daemon/tests/xilinx_dfx_mgr/status/get_status_message.rs
  daemon/tests/xilinx_sys.rs
  daemon/tests/xilinx_sys/control/remove_bitstream.rs
  daemon/tests/xilinx_sys/control/set_bytes.rs
  daemon/tests/xilinx_sys/control/set_fpga_flags.rs
  daemon/tests/xilinx_sys/control/write_bitstream_direct.rs
  daemon/tests/xilinx_sys/control/write_property.rs
  daemon/tests/xilinx_sys/sequences/bitstream_management.rs
  daemon/tests/xilinx_sys/sequences/overlay_management.rs
  daemon/tests/xilinx_sys/status/get_fpga_flags.rs
  daemon/tests/xilinx_sys/status/get_fpga_state.rs
  daemon/tests/xilinx_sys/status/get_overlay_status.rs
  daemon/tests/xilinx_sys/status/get_overlays.rs
  daemon/tests/xilinx_sys/status/get_platform_type.rs
  daemon/tests/xilinx_sys/status/get_platform_types.rs
  daemon/tests/xilinx_sys/status/get_status_message.rs
  daemon/tests/xilinx_sys/status/read_property.rs
Labels: root

root: add proxies git component
  .git_components.yaml
Labels: root

docs: proxies: added docstrings
  fpgad_proxies/src/proxies/control_proxy.rs
  fpgad_proxies/src/proxies/status_proxy.rs
Labels: none

docs: proxies: tidy documentation and add hidden docs to doc.rs
  .git_components.yaml
  daemon/Cargo.toml
  daemon/src/comm/dbus/status_interface.rs
  fpgad_proxies/Cargo.toml
  fpgad_proxies/README.md
  fpgad_proxies/src/lib.rs
  fpgad_proxies/src/proxies/control_proxy.rs
  fpgad_proxies/src/proxies/status_proxy.rs
Labels: root

root: version bump 0.4.3 -> 0.4.4
  Cargo.lock
  Cargo.toml
Labels: root

softeners: tests: dfx-mgr - fix to be compatible with dfx-mgr 2026.1
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_fpga.rs
  tests/snap_testing/test_default/test_cli_options.py
  tests/snap_testing/test_xlnx/test_bitstream.py
  tests/snap_testing/test_xlnx/test_status.py
Labels: none

docs: add dfx-mgr 2026.1 version requirement
  README.md
  daemon/src/platforms/README.md
Labels: root

root: snapcraft.yaml - use stonking public PPA for dfx-mgr
  snap/snapcraft.yaml
Labels: none

root: snapcraft.yaml - remove unnecessary layout file
  snap/snapcraft.yaml
Labels: none

tests: daemon: fix integration tests after dfx-mgr breaking changes
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_overlay_handler.rs
  daemon/tests/xilinx_dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/control/dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/sequences/bitstream_management.rs
  daemon/tests/xilinx_dfx_mgr/sequences/overlay_management.rs
  daemon/tests/xilinx_dfx_mgr/status/get_platform_types.rs
Labels: none

root: version bump 0.4.4 -> 0.5.0
  Cargo.lock
  Cargo.toml
Labels: root

root: tests: daemon: fix to be compatible with dfx-mgr 2026.1 breaking changes (#229)
  Cargo.lock
  Cargo.toml
  README.md
  daemon/src/platforms/README.md
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_overlay_handler.rs
  daemon/tests/xilinx_dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/control/dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/sequences/bitstream_management.rs
  daemon/tests/xilinx_dfx_mgr/sequences/overlay_management.rs
  daemon/tests/xilinx_dfx_mgr/status/get_platform_types.rs
  snap/snapcraft.yaml
  tests/snap_testing/test_default/test_cli_options.py
  tests/snap_testing/test_xlnx/test_bitstream.py
  tests/snap_testing/test_xlnx/test_status.py
Labels: root

root: Cargo.lock updates
  Cargo.lock
Labels: root

root: version bump 0.5.0 -> 0.5.1
  Cargo.lock
  Cargo.toml
Labels: root

update all dependencies (#234)
  Cargo.lock
  Cargo.toml
Labels: root

cli: hotfix - Cargo.toml had bad dependency version - couldn't publish
  cli/Cargo.toml
Labels: cli

cli: hotfix - Cargo.toml had bad dependency version - couldn't publish (#241)
  cli/Cargo.toml
Labels: cli

workflows: run snap build checks on amd64 and arm64
  .github/workflows/integration_tests.yaml.yml
  snap/snapcraft.yaml
Labels: workflows

softeners: fix specify Full flash mode for dfx-mgr calls
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: none

snapcraft: dfx-mgr drop /var from dfx-mgr part install
  snap/snapcraft.yaml
Labels: none

workflows: use testflinger submit with credentials
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

workflows: use ubuntu-latest instead of self-hosted runners for TF
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

softeners: fix specify Full flash mode for dfx-mgr calls
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: none

snapcraft: dfx-mgr drop /var from dfx-mgr part install
  snap/snapcraft.yaml
Labels: none

workflows: use ubuntu-latest instead of self-hosted runners for TF
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

root: bumped to 0.5.2
  Cargo.lock
  Cargo.toml
Labels: root

workflows: use testflinger submit with credentials
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

workflows: fix TF snap missing auth
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

workflows: run snap build checks on amd64 and arm64 (#243)
  .github/workflows/integration_tests.yaml.yml
  snap/snapcraft.yaml
Labels: workflows

softeners: fix specify Full flash mode for dfx-mgr calls
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: none

root: bumped to 0.5.2
  Cargo.lock
  Cargo.toml
Labels: root

snapcraft: dfx-mgr drop /var from dfx-mgr part install
  snap/snapcraft.yaml
Labels: none

workflows: use testflinger submit with credentials
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

workflows: use ubuntu-latest instead of self-hosted runners for TF
  .github/workflows/integration_tests.yaml.yml
Labels: workflows
