Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

softeners: remove finished todo on adding tests for dfx-mgr-client detection
  daemon/src/comm/dbus/control_interface.rs
Labels: none

platforms: universal - remove todo about error type on configfs not mounted error
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
Labels: none

softeners: softeners_thread.rs - kill child process if it fails to come up in 5s and is still running
  daemon/src/softeners/softeners_thread.rs
Labels: none

root: unbump version to 0.2.0
  Cargo.lock
  Cargo.toml
Labels: root

root: optimise for size in release profile
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  daemon/Cargo.toml
Labels: root, cli

root: optimise for size in release profile (#186)
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  daemon/Cargo.toml
Labels: root, cli

softeners: dfx-mgr - add docstring for dfx-mgr dbus function
  daemon/src/comm/dbus/control_interface.rs
Labels: none

softeners: dfx-mgr - add docstring for dfx-mgr dbus function (#193)
  daemon/src/comm/dbus/control_interface.rs
Labels: none

tests: workaround - make the first test to run in snap testing to be a universal test
  tests/snap_testing/test_default/test_cli_options.py
Labels: none

workflows: updated cargo publish workflow to use release environment
  .github/workflows/cargo-publish.yml
Labels: workflows

root: snapcraft - add dfx-mgr socket hook to restart fpgad on socket connection
  snap/hooks/connect-plug-dfx-mgr-socket
Labels: none

root: snapcraft - add dfx-mgr socket hook to restart fpgad on socket connection (#195)
  snap/hooks/connect-plug-dfx-mgr-socket
Labels: none

tmp: add todo
  daemon/src/main.rs
Labels: none

workflows: hotfix snap-testing - use fpgad.test not test script
  .github/testflinger-assets/test_snap_device_script.sh
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

workflows: don't upload test_data and drop fpgad prefix for artifacts
  .github/testflinger-assets/test_snap_device_script.sh
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

workflows: fix trailing comma in yq command
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

workflows: remove undefined "CURRENT_USER" artifact
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

workflows: Revert dropping fpgad prefix for artifacts
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

workflows: removed pre-release + made default release sha point to main
  .github/workflows/cargo-publish.yml
  .github/workflows/release.yml
Labels: workflows

workflows: Add release and cargo publish workflows (#181)
  .github/workflows/cargo-publish.yml
  .github/workflows/release.yml
  PUBLISHING.md
  scripts/ci/check_version_bump.py
Labels: root, workflows

workflows: hotfix snap-testing - use fpgad.test not test script (#198)
  .github/testflinger-assets/test_snap_device_script.sh
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

dbus: platforms: softeners: move all universal specific logic out of FPGA trait
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_fpga.rs
Labels: none

cli: add universal and dfx-mgr top level subcommands
  README.md
  cli/Cargo.toml
  cli/README.md
  cli/src/dfx_mgr.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/status_proxy.rs
  cli/src/set.rs
  cli/src/universal.rs
Labels: root, cli

move back to universal-subcommand - add docs todo
  cli/src/lib.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/universal.rs
Labels: cli

tests: fix daemon and snap tests after universal/dfx-mgr subcommands
  daemon/tests/common/proxies/control_proxy.rs
  daemon/tests/common/proxies/status_proxy.rs
  daemon/tests/universal/control/set_bytes.rs
  daemon/tests/universal/control/set_fpga_flags.rs
  daemon/tests/universal/control/write_bitstream_direct.rs
  daemon/tests/universal/control/write_property.rs
  daemon/tests/universal/sequences/bitstream_management.rs
  daemon/tests/universal/sequences/overlay_management.rs
  daemon/tests/universal/status/get_fpga_flags.rs
  daemon/tests/universal/status/read_property.rs
  daemon/tests/xilinx_dfx_mgr/control.rs
  daemon/tests/xilinx_dfx_mgr/control/set_fpga_flags.rs
  daemon/tests/xilinx_dfx_mgr/control/write_bitstream_direct.rs
  daemon/tests/xilinx_dfx_mgr/control/write_property.rs
  daemon/tests/xilinx_dfx_mgr/sequences/bitstream_management.rs
  daemon/tests/xilinx_dfx_mgr/sequences/overlay_management.rs
  daemon/tests/xilinx_dfx_mgr/status.rs
  daemon/tests/xilinx_dfx_mgr/status/get_fpga_flags.rs
  daemon/tests/xilinx_dfx_mgr/status/read_property.rs
  tests/snap_testing/test_default/test_dfx_mgr_command.py
  tests/snap_testing/test_default/test_help.py
  tests/snap_testing/test_default/test_universal_command.py
Labels: none

workflows: removed ubuntu-latest from release workflow
  .github/workflows/release.yml
Labels: workflows

workflows: Add skip cargo option and multi-arch builds to release workflows
  .github/workflows/release.yml
Labels: workflows

softeners: dfx-mgr - share logic to find dfx-mgr-client binary between dbus method and run_dfx_mgr
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/error.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_helpers.rs
Labels: none

dbus: switch dfx_mgr method to using #[cfg(...)] blocks
  daemon/src/comm/dbus/control_interface.rs
Labels: none

root: main - filter softeners import to satisfy linter
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/main.rs
Labels: none

dbus: run_dfx_mgr called using tokio blocking task to mitigate runtime blocking
  daemon/src/comm/dbus/control_interface.rs
Labels: none

workflows(fix): removed ubuntu-latest from release workflow (#200)
  .github/workflows/release.yml
Labels: workflows

workflows: build snap on gh hosted infra
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

workflows: hotfix github release
  .github/workflows/release.yml
Labels: workflows

workflows: hotfix github release (#205)
  .github/workflows/release.yml
Labels: workflows

workflows: build snap on gh hosted infra (#204)
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

root: workflows: rename dfx-mgr socket interface to match convention
  .github/testflinger-assets/test_snap_device_script.sh
  snap/hooks/connect-plug-dfx-mgr-socket
  snap/snapcraft.yaml
  tests/snap_testing/README.md
Labels: none

root: snapcraft hooks - fix name for socket connect hook
  snap/hooks/connect-plug-run-dfx-mgrd-socket
Labels: none

root: workflows: rename dfx-mgr socket interface to match convention (#206)
  .github/testflinger-assets/test_snap_device_script.sh
  snap/hooks/connect-plug-run-dfx-mgrd-socket
  snap/snapcraft.yaml
  tests/snap_testing/README.md
Labels: none

tests: workflows: hotfix whoops! fixing skipping all lib tests
  .github/workflows/linter.yml
  tests/coverage_test.sh
Labels: workflows

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
