Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**

tests: dfx-mgr - fix failing tests that were previously skipped
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_helpers.rs
Labels: none

tests: test-data k24 dtbo was corrupted
  daemon/tests/test_data/k24-starter-kits/k24_starter_kits.dtbo
Labels: none

tests: workflows: hotfix whoops! fixing skipping all lib tests (#207)
  .github/workflows/linter.yml
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_helpers.rs
  daemon/tests/test_data/k24-starter-kits/k24_starter_kits.dtbo
  tests/coverage_test.sh
Labels: workflows

dbus: platforms: softeners: move all universal specific logic out of FPGA trait
  cli/src/set.rs
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_fpga.rs
Labels: cli

cli: add universal and dfx-mgr top level subcommands
  README.md
  cli/Cargo.toml
  cli/README.md
  cli/src/dfx_mgr.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/status_proxy.rs
  cli/src/set.rs
  cli/src/universal.rs
Labels: root, cli

docs: cli: dbus: add user friendly docs to cli and docs.rs pages
  cli/src/lib.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/status_proxy.rs
  cli/src/universal.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
Labels: cli

tests: fix daemon and snap tests after universal/dfx-mgr subcommands
  daemon/tests/common/proxies/control_proxy.rs
  daemon/tests/common/proxies/status_proxy.rs
  daemon/tests/universal/control/set_bytes.rs
  daemon/tests/universal/control/set_fpga_flags.rs
  daemon/tests/universal/control/write_bitstream_direct.rs
  daemon/tests/universal/control/write_property.rs
  daemon/tests/universal/sequences/bitstream_management.rs
  daemon/tests/universal/sequences/overlay_management.rs
  daemon/tests/universal/status/get_fpga_flags.rs
  daemon/tests/universal/status/read_property.rs
  daemon/tests/xilinx_dfx_mgr/control.rs
  daemon/tests/xilinx_dfx_mgr/control/set_fpga_flags.rs
  daemon/tests/xilinx_dfx_mgr/control/write_bitstream_direct.rs
  daemon/tests/xilinx_dfx_mgr/control/write_property.rs
  daemon/tests/xilinx_dfx_mgr/sequences/bitstream_management.rs
  daemon/tests/xilinx_dfx_mgr/sequences/overlay_management.rs
  daemon/tests/xilinx_dfx_mgr/status.rs
  daemon/tests/xilinx_dfx_mgr/status/get_fpga_flags.rs
  daemon/tests/xilinx_dfx_mgr/status/read_property.rs
  tests/snap_testing/test_default/test_dfx_mgr_command.py
  tests/snap_testing/test_default/test_help.py
  tests/snap_testing/test_default/test_universal_command.py
Labels: none

softeners: dfx-mgr - share logic to find dfx-mgr-client binary between dbus method and run_dfx_mgr (#196)
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/error.rs
  daemon/src/main.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_helpers.rs
Labels: none

root: version bump - 0.2.0 -> 0.3.0
  Cargo.lock
  Cargo.toml
Labels: root

dbus: control - add guards for dfx-mgr execution
  daemon/src/comm/dbus/control_interface.rs
  tests/snap_testing/common/base_test.py
  tests/snap_testing/test_xlnx/test_dfx_mgr_guards.py
Labels: none

root: snapcraft - hotfix DTO interface to match approve version in store
  snap/snapcraft.yaml
Labels: none

root: snapcraft - hotfix DTO interface to match approve version in store (#209)
  snap/snapcraft.yaml
Labels: none

workflows: hotfix provisioning use preset
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

workflows: hotfix provisioning use preset (#213)
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

root: update dependencies by squashing renovate PRs (#211)
  Cargo.lock
Labels: root

root: version bump 0.3.0->0.4.0
  Cargo.lock
  Cargo.toml
Labels: root

root: snapcraft.yaml - provide fpgad_cli via content interface
  snap/snapcraft.yaml
Labels: none

root: snapcraft.yaml - provide fpgad_cli via content interface
  snap/snapcraft.yaml
Labels: none

cli: docs: docstring fixes for bad platform strings
  cli/README.md
  cli/src/lib.rs
  cli/src/proxies/status_proxy.rs
  daemon/src/platforms/xilinx_sys_components/xilinx_sys_fpga.rs
Labels: cli

platforms: add "softener" or "platform" extra compat string entry for platforms
  daemon/src/platforms/xilinx_sys.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
Labels: none

platforms: macros - define the compat string once
  daemon/src/platforms/platform.rs
  daemon/src/platforms/xilinx_sys.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  fpgad_macros/src/lib.rs
Labels: none

platforms: softeners: return available platform preferred softeners first
  daemon/src/platforms/platform.rs
  daemon/src/platforms/xilinx_sys.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  fpgad_macros/src/lib.rs
Labels: none

tests: fix and add tests for softener matching and fallback mechanism
  daemon/src/platforms/platform.rs
  daemon/tests/xilinx_sys/sequences/overlay_management.rs
Labels: none

platforms: use `partition` for separating softeners and built-in platforms
  daemon/src/platforms/platform.rs
Labels: none

docs: platform selection related docs updates
  daemon/src/platforms/platform.rs
  daemon/src/softeners/README.md
Labels: none

tests: move dfx-mgr platform selection to integration tests
  daemon/src/platforms/platform.rs
  daemon/tests/xilinx_dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/platform_selection.rs
Labels: none

tests: assert! replaced with gtest versions e.g. assert_that! and similar
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/xilinx_sys.rs
  daemon/tests/xilinx_dfx_mgr/platform_selection.rs
Labels: none

root: README.md - add badges for crate versions and docs build results for each crate
  README.md
Labels: root

root: README.md - add badges for crate versions and docs build results for each crate (#222)
  README.md
Labels: root

platforms: make is_available a Platform trait method
  daemon/src/platforms/platform.rs
  daemon/src/platforms/xilinx_sys.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/platform_selection.rs
  fpgad_macros/src/lib.rs
Labels: none

docs: platforms: remove stale docstring for PLATFORM_REGISTRY
  daemon/src/platforms/platform.rs
Labels: none

root: version bump 0.4.0 -> 0.4.1
  Cargo.lock
  Cargo.toml
Labels: root

platforms: enable preferring softeners and defaulting to built-in if softener not available (#216)
  Cargo.lock
  Cargo.toml
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/xilinx_sys.rs
  daemon/src/softeners/README.md
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/platform_selection.rs
  daemon/tests/xilinx_sys/sequences/overlay_management.rs
  fpgad_macros/src/lib.rs
Labels: root

cli: add tab autocompletions
  Cargo.lock
  cli/Cargo.toml
  cli/src/lib.rs
  cli/src/main.rs
  snap/snapcraft.yaml
Labels: root, cli

cli: docs: add help messsage missing newlines
  cli/src/lib.rs
Labels: cli

root: version bump 0.4.1 -> 0.4.2
  Cargo.lock
  Cargo.toml
Labels: root

feat: Add tab completions (#225)
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/lib.rs
  cli/src/main.rs
  snap/snapcraft.yaml
Labels: root, cli

root: snapcraft.yaml - remove cli alias due to snapcraft changes
  snap/snapcraft.yaml
Labels: none

root: snapcraft.yaml - remove cli alias due to snapcraft changes (#227)
  snap/snapcraft.yaml
Labels: none

docs: snapcraft - add staging/content interface documentation
  README.md
  snap/README.md
Labels: root
