Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**

tests: fix integration tests now that paths cannot be inspected
  daemon/tests/universal/control/write_bitstream_direct.rs
  daemon/tests/universal/sequences/overlay_management.rs
Labels: none

cli: add support for loading files from current directory (#121)
  .gitignore
  cli/src/load.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/tests/universal/control/write_bitstream_direct.rs
  daemon/tests/universal/sequences/overlay_management.rs
Labels: root, cli

workflows: add tics into the linter for quality gating
  .github/workflows/integration_tests.yml
  .github/workflows/linter.yml
  .github/workflows/tics_scan.yml
Labels: workflows

dropme: pls pls
  .github/workflows/integration_tests.yml
Labels: workflows

workflows: add permissions to tics job
  .github/workflows/tics_scan.yml
Labels: workflows

dropme: let coverage tests continue on failure
  tests/coverage_test.sh
Labels: none

linter: diable tics on pull request
  .github/workflows/linter.yml
Labels: workflows

tests: RUSTFLAGS causing unboundflag error in bash removed set -u
  tests/coverage_test.sh
Labels: none

app: fix clippy error for format
  daemon/src/system_io.rs
Labels: none

root: snap - add device-tree-overlays system-files interface
  snap/snapcraft.yaml
Labels: none

root: snap - add device-tree-overlays system-files interface (#90)
  snap/snapcraft.yaml
Labels: none

root: snap - add logo and specify 64-bit architectures only
  snap/assets/icon.svg
  snap/snapcraft.yaml
Labels: none

tests: fix bad_dtbo_path test change in string
  daemon/tests/universal/sequences/overlay_management.rs
Labels: none

root: snap - add logo and specify 64-bit architectures only (#131)
  daemon/tests/universal/sequences/overlay_management.rs
  snap/assets/icon.svg
  snap/snapcraft.yaml
Labels: none

First attempt at testing "bitstream_load" only
  .github/testflinger-assets/test_binary_device_script.sh
  .github/testflinger-assets/test_snap_device_script.sh
  .github/testflinger-assets/testflinger_job.yaml
  .github/workflows/integration_tests.yaml.yml
  .github/workflows/integration_tests.yml
  .github/workflows/linter.yml
  tests/snap_tests.py
Labels: workflows

we need to fix this naming...
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

fix missing id for snap build output
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

fix path for downloaded snap
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

fix quotes and formatting nicer
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

REVERT: disable binary tests to save resources
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

try noble builder
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

Actually submit the job and run the tests (facepalm)
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

refactor tests into python unittest framework
  .github/testflinger-assets/test_snap_device_script.sh
  .github/workflows/integration_tests.yaml.yml
  tests/snap_tests.py
Labels: workflows

fix dangerous flag for installing local file
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

fix dangerous flag for installing local file
  tests/snap_tests.py
Labels: none

patches
  .github/testflinger-assets/test_snap_device_script.sh
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

avoid pending changes error
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

avoid bad flags related errors
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

add one-time setup steps inside python, and add tests for status
  .github/testflinger-assets/test_snap_device_script.sh
  tests/snap_tests.py
Labels: none

fix rmdir not rmtree (recursive)
  tests/snap_tests.py
Labels: none

refactor common assertions to make much cleaner
  tests/snap_tests.py
Labels: none

probably all except overlays are done
  tests/snap_tests.py
Labels: none

hold updates for 24hs
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

write overlay tests
  tests/snap_tests.py
Labels: none

revert me - testing debug state
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

testing using the debug state issue
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

weird timeout issue.
  .github/testflinger-assets/test_snap_device_script.sh
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

this is frustrating
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

unbuffered
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

new job format for zapper_iot
  .github/testflinger-assets/testflinger_job.yaml
Labels: none
