Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

dbus: refactor interfaces to be separate files for each
  src/comm/dbus/control_interface.rs
  src/comm/dbus/mod.rs
  src/comm/dbus/status_interface.rs
  src/main.rs
Labels: daemon, comm, dbus

platforms: dbus: formatter requirements updated
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
  src/error.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

platforms: use u32 for fpga flags to match kernel source
  src/comm/dbus/control_interface.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: comm, dbus, platforms

config: add config git component and add artiepoole as owner
  .git_components.yaml
Labels: root

config: refactor path variables and create config interface
  src/comm/dbus/configure_interface.rs
  src/comm/dbus/mod.rs
  src/config.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

platforms: apply and load now check for and strip longest fw_source_path
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, platforms

platforms: refactor path variables
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, platforms

platforms: add firmware source dir control functions
  src/system_io.rs
Labels: daemon

platforms: require platform string for calls not specifically requiring device
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

platforms: add fs_read_dir to system_io
  src/error.rs
  src/system_io.rs
Labels: daemon

platforms: dbus: load firmware/apply overlay now lock so that the writes are atomic
  README.md
  src/comm/dbus/control_interface.rs
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
  tests/concurent_load/test_concurrent_load.sh
Labels: root, daemon, comm, dbus, platforms

cli: add artiepoole to cli owners
  .git_components.yaml
Labels: root

dbus: update README.md
  README.md
Labels: root

config: create systemd service template
  data/systemd/fpgad.service
Labels: none

cli: rename binary to fpga in cargo.toml
  Cargo.lock
  cli/Cargo.toml
Labels: root, cli

cli: create proxy files to match the dbus interfaces
  Cargo.lock
  cli/Cargo.toml
  cli/src/main.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
Labels: root, cli

cli: implement status command
  cli/README.md
  cli/src/main.rs
  cli/src/status.rs
Labels: cli

cli: implement loading of bitstreams and overlays
  cli/README.md
  cli/src/load.rs
  cli/src/main.rs
Labels: cli

cli: implement remove overlay command
  cli/README.md
  cli/src/main.rs
  cli/src/remove.rs
Labels: cli

cli: use pretty tables for status
  Cargo.lock
  cli/Cargo.toml
  cli/src/status.rs
Labels: root, cli

root: update pre-commit hooks to check licenses
  .gitignore
  .licensesnip
  .pre-commit-config.yaml
Labels: root

dbus: refactor interfaces to be separate files for each
  src/comm/dbus/control_interface.rs
  src/comm/dbus/mod.rs
  src/comm/dbus/status_interface.rs
  src/main.rs
Labels: daemon, comm, dbus

platforms: dbus: formatter requirements updated
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
  src/error.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

platforms: use u32 for fpga flags to match kernel source
  src/comm/dbus/control_interface.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: comm, dbus, platforms

config: add config git component and add artiepoole as owner
  .git_components.yaml
Labels: root

platforms: refactor path variables
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, platforms

platforms: add firmware source dir control functions
  src/system_io.rs
Labels: daemon

platforms: add fs_read_dir to system_io
  src/error.rs
  src/system_io.rs
Labels: daemon

workflows: update linter to use pre-commit
  .github/workflows/linter.yml
Labels: workflows

fixup! workflows: update linter to use pre-commit
  .pre-commit-config.yaml
Labels: root

platforms: require platform string for calls not specifically requiring device
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms

platforms: change how matching substrings works for platforms
  src/platforms/platform.rs
Labels: platforms

root: app: update snapcraft file to expose cli and dbus daemon
  README.md
  snap/snapcraft.yaml
Labels: root

root: app: update snapcraft file to expose cli and dbus daemon (#52)
  README.md
  snap/snapcraft.yaml
Labels: root

app: add more metadata to snapcraft.yaml
  snap/snapcraft.yaml
Labels: none

platforms: dbus: load firmware/apply overlay now lock so that the writes are atomic
  README.md
  src/comm/dbus/control_interface.rs
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
  tests/concurent_load/test_concurrent_load.sh
Labels: root, daemon, comm, dbus, platforms

config: create systemd service template
  data/systemd/fpgad.service
Labels: none

dbus: update README.md
  README.md
Labels: root

cli: add artiepoole to cli owners
  .git_components.yaml
Labels: root

cli: create proxy files to match the dbus interfaces
  Cargo.lock
  cli/Cargo.toml
  cli/src/main.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
Labels: root, cli

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
