Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

cli: proxies - remove non-existent function `get_platform_name`
  cli/src/proxies/status_proxy.rs
Labels: cli

root: error.rs stop printing raw data to logs - could be sensitive
  daemon/src/error.rs
  daemon/src/system_io.rs
Labels: none

root: add cargo mutants output to gitignore
  .gitignore
Labels: root

cli: load - remove panic code path from sanitize_path_str
  cli/src/load.rs
Labels: cli

workflows: pin submit version to use proxy (rev263)
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

docs: document the dbus module
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
Labels: none

docs: CLI add top level docstring
  cli/src/main.rs
Labels: cli

docs: fix misinformation in daemon busctl examples
  daemon/README.md
Labels: none

docs: document the static variables in config.rs
  daemon/src/config.rs
Labels: none

docs: document CLI top level modules
  cli/src/load.rs
  cli/src/main.rs
  cli/src/remove.rs
  cli/src/set.rs
  cli/src/status.rs
Labels: cli

docs: full documentation of error.rs
  daemon/src/error.rs
Labels: none

docs: cli: document proxies module
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
Labels: cli

docs: full documentation of config.rs
  daemon/src/config.rs
Labels: none

docs: full documentation of system_io.rs
  daemon/src/system_io.rs
Labels: none

docs: add readme for softeners providing a tutorial for creating a softener
  daemon/src/softeners.rs
  daemon/src/softeners/README.md
Labels: none

docs: full documentation of main.rs
  daemon/src/main.rs
Labels: none

docs: mostly full documentation of platform.rs
  daemon/src/platforms/platform.rs
Labels: none

docs: full documentation of universal_fpga.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
Labels: none

docs: full documentation of universal.rs
  daemon/src/platforms/universal.rs
Labels: none

docs: full documentation of universal_overlay_handler.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
Labels: none

root: snapcraft.yaml - specify content identifier handle
  snap/snapcraft.yaml
Labels: none

root: cleanup doc PRs by cherrypicking them here (#150)
  .github/workflows/integration_tests.yaml.yml
  .gitignore
  cli/src/load.rs
  cli/src/main.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/status_proxy.rs
  cli/src/status.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/error.rs
  daemon/src/system_io.rs
  daemon/tests/common/proxies/control_proxy.rs
  daemon/tests/common/proxies/status_proxy.rs
Labels: root, workflows, cli

workflows: allow renovate and dependapot to skip git commit check
  .github/workflows/linter.yml
Labels: workflows

workflows: add tics into the linter for quality gating
  .github/workflows/integration_tests.yml
  .github/workflows/linter.yml
  .github/workflows/tics_scan.yml
Labels: workflows

dropme: pls pls
  .github/workflows/integration_tests.yml
Labels: workflows

workflows: add permissions to tics job
  .github/workflows/tics_scan.yml
Labels: workflows

dropme: let coverage tests continue on failure
  tests/coverage_test.sh
Labels: none

linter: diable tics on pull request
  .github/workflows/linter.yml
Labels: workflows

tests: RUSTFLAGS causing unboundflag error in bash removed set -u
  tests/coverage_test.sh
Labels: none

workflows: make sure to build before tics
  .github/workflows/tics_scan.yml
Labels: workflows

dropme: run clippy to see what is failing
  .github/workflows/tics_scan.yml
Labels: workflows

root: prepare for package publishing
  Cargo.lock
  Cargo.toml
  PUBLISHING.md
  cli/Cargo.toml
  daemon/Cargo.toml
  fpgad_macros/Cargo.toml
  fpgad_macros/README.md
Labels: root, cli

docs: added documentation for how to implement a softener
  daemon/src/comm.rs
  daemon/src/platforms.rs
  daemon/src/platforms/README.md
  daemon/src/platforms/universal_components.rs
  daemon/src/softeners/README.md
  daemon/src/softeners/error.rs
  fpgad_macros/src/lib.rs
Labels: none

docs: document the dbus module
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
Labels: none

docs: CLI add top level docstring
  cli/src/main.rs
Labels: cli

docs: fix misinformation in daemon busctl examples
  daemon/README.md
Labels: none

docs: document the static variables in config.rs
  daemon/src/config.rs
Labels: none

workflows: use @rev263 for all submit actions
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

cli: docs: address cli main docstring typos
  cli/src/main.rs
Labels: cli

docs: dbus: address set_fpga_flags misinformation in docstring
  daemon/src/comm/dbus/control_interface.rs
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
