Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**

cli: rename binary to fpga in cargo.toml
  Cargo.lock
  cli/Cargo.toml
Labels: root, cli

cli: implement status command
  cli/README.md
  cli/src/main.rs
  cli/src/status.rs
Labels: cli

cli: implement remove overlay command
  cli/README.md
  cli/src/main.rs
  cli/src/remove.rs
Labels: cli

cli: implement loading of bitstreams and overlays
  cli/README.md
  cli/src/load.rs
  cli/src/main.rs
Labels: cli

cli: add fpgad_api crate which can be shared with users to give access to dbus calls
  Cargo.lock
  Cargo.toml
  cli/src/load.rs
  cli/src/main.rs
  cli/src/remove.rs
  cli/src/status.rs
  fpgad_api/Cargo.toml
  fpgad_api/src/control.rs
  fpgad_api/src/lib.rs
  fpgad_api/src/proxies/control_proxy.rs
  fpgad_api/src/proxies/mod.rs
  fpgad_api/src/proxies/status_proxy.rs
  fpgad_api/src/status.rs
Labels: root, cli

root: app: configure snap to start before connected dbus plugs
  snap/snapcraft.yaml
Labels: none

root: app: specify stable rust channel to suppress error/warning
  snap/snapcraft.yaml
Labels: none

root: app: configure snap to start before connected dbus plugs (#60)
  snap/snapcraft.yaml
Labels: none

root: app: add fpga plug
  README.md
  snap/snapcraft.yaml
Labels: root

root: app: add fpga plug (#61)
  README.md
  snap/snapcraft.yaml
Labels: root

platforms: dbus: load firmware/apply overlay now lock so that the writes are atomic
  README.md
  src/comm/dbus/control_interface.rs
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
  tests/concurent_load/test_concurrent_load.sh
Labels: root, daemon, comm, dbus, platforms

config: create systemd service template
  data/systemd/fpgad.service
Labels: none

dbus: update README.md
  README.md
Labels: root

cli: add artiepoole to cli owners
  .git_components.yaml
Labels: root

cli: create proxy files to match the dbus interfaces
  Cargo.lock
  cli/Cargo.toml
  cli/src/main.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
Labels: root, cli

cli: implement status command
  cli/README.md
  cli/src/main.rs
  cli/src/status.rs
Labels: cli

cli: implement loading of bitstreams and overlays
  cli/README.md
  cli/src/load.rs
  cli/src/main.rs
Labels: cli

cli: implement remove overlay command
  cli/README.md
  cli/src/main.rs
  cli/src/remove.rs
Labels: cli

app: default to info level in logs for fpgad
  src/main.rs
Labels: daemon

platforms: dbus: load firmware/apply overlay now lock so that the writes are atomic
  README.md
  src/comm/dbus/control_interface.rs
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
  tests/concurent_load/test_concurrent_load.sh
Labels: root, daemon, comm, dbus, platforms

platforms: dbus: load firmware/apply overlay now lock so that the writes are atomic (#51)
  README.md
  src/comm/dbus/control_interface.rs
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
  tests/concurent_load/test_concurrent_load.sh
Labels: root, daemon, comm, dbus, platforms

root: app: remove redundant `bus-name` key
  snap/snapcraft.yaml
Labels: none

app: add more metadata to snapcraft.yaml (#53)
  snap/snapcraft.yaml
Labels: none

softeners: platforms: add dfx-mgr softened platform
  src/error.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/softeners/error.rs
  src/softeners/mod.rs
  src/softeners/xilinx_dfx_mgr.rs
Labels: daemon, platforms, softeners

root: app: remove redundant `bus-name` key (#62)
  snap/snapcraft.yaml
Labels: none

dbus: implement a generic call for reading and writing to fpga_manager properties
  README.md
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
Labels: root, comm, dbus

dbus: implement a generic call for reading and writing to fpga_manager properties (#63)
  README.md
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
Labels: root, comm, dbus

root: update README.md and remove non-snap dbus config
  README.md
  data/dbus/com.canonical.fpgad.conf
Labels: root

cli: add artiepoole to cli owners
  .git_components.yaml
Labels: root

cli: create proxy files to match the dbus interfaces
  Cargo.lock
  cli/Cargo.toml
  cli/src/main.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
Labels: root, cli

root: app: cli: update Rust dependencies
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
Labels: root, cli

cli: implement remove overlay command
  cli/README.md
  cli/src/main.rs
  cli/src/remove.rs
Labels: cli

app: default to info level in logs for fpgad
  src/main.rs
Labels: daemon

cli: implement status command
  cli/README.md
  cli/src/main.rs
  cli/src/status.rs
Labels: cli

cli: implement loading of bitstreams and overlays
  cli/README.md
  cli/src/load.rs
  cli/src/main.rs
Labels: cli

softeners: platforms: add dfx-mgr softened platform (#64)
  src/error.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/softeners/error.rs
  src/softeners/mod.rs
  src/softeners/xilinx_dfx_mgr.rs
Labels: daemon, platforms, softeners

cli: implement cli for load, remove and status using the existing dbus interface (#48)
  .git_components.yaml
  Cargo.lock
  Cargo.toml
  README.md
  cli/Cargo.toml
  cli/README.md
  cli/src/load.rs
  cli/src/main.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
  cli/src/remove.rs
  cli/src/status.rs
  data/dbus/com.canonical.fpgad.conf
  src/main.rs
Labels: root, daemon, cli

platforms: re-organize functions
  src/platforms/platform.rs
Labels: platforms

root: refactor daemon files into non-root directory
  Cargo.lock
  Cargo.toml
  README.md
  daemon/Cargo.toml
  daemon/README.md
  daemon/src/comm/README.md
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/mod.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/comm/mod.rs
  daemon/src/config.rs
  daemon/src/error.rs
  daemon/src/main.rs
  daemon/src/platforms/README.md
  daemon/src/platforms/mod.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/platforms/universal_components/README.md
  daemon/src/platforms/universal_components/mod.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/service.rs
  daemon/src/softeners/README.md
  daemon/src/softeners/error.rs
  daemon/src/softeners/mod.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/system_io.rs
  snap/snapcraft.yaml
Labels: root

platforms: softeners: use PLATFORM_REGISTRY instead of substrings
  src/main.rs
  src/platforms/platform.rs
  src/softeners/xilinx_dfx_mgr.rs
Labels: daemon, platforms, softeners
