Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

docs: dbus: address missing result assignments in write_bitstream_direct examples
  daemon/src/comm/dbus/control_interface.rs
Labels: none

docs: dbus: address status interface docstring mistakes
  daemon/src/comm/dbus/status_interface.rs
Labels: none

docs: dbus: remove misleading StatusInterface creation and add no_run
  daemon/src/comm/dbus/status_interface.rs
Labels: none

docs: dbus: address dbus helper docs mistakes
  daemon/src/comm/dbus.rs
Labels: none

docs: dbus: add DBus API documentation (#145)
  .github/workflows/integration_tests.yaml.yml
  cli/src/main.rs
  daemon/README.md
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/config.rs
Labels: workflows, cli

docs: document CLI top level modules
  cli/src/load.rs
  cli/src/main.rs
  cli/src/remove.rs
  cli/src/set.rs
  cli/src/status.rs
Labels: cli

docs: cli: document proxies module
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
Labels: cli

docs: cli: address copilot issues
  cli/src/main.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
  cli/src/status.rs
Labels: cli

workflows: renamed legacy incident yml file extension
  .github/workflows/integration_tests.yml
Labels: workflows

workflows: added snap-store integration workflow and update DUT installer
  .github/testflinger-assets/test_snap_device_script.sh
  .github/workflows/snap_store_integration_tests.yml
Labels: workflows

workflows: unified snap jobs and moved them to their own workflows
  .github/workflows/integration_tests.yml
  .github/workflows/snap_integration_tests.yml
  .github/workflows/snap_store_integration_tests.yml
Labels: workflows

docs: cli: Add documentation for CLI part of FPGAd (#148)
  cli/src/load.rs
  cli/src/main.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
  cli/src/remove.rs
  cli/src/set.rs
  cli/src/status.rs
Labels: cli

comm: Block DBus property path traversal and add daemon/CLI test coverage
  cli/src/main.rs
  cli/src/set.rs
  cli/src/status.rs
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/tests/universal/control/set_bytes.rs
  daemon/tests/universal/control/write_property.rs
  daemon/tests/universal/status/read_property.rs
Labels: cli

docs: full documentation of error.rs
  daemon/src/error.rs
Labels: none

docs: full documentation of config.rs
  daemon/src/config.rs
Labels: none

docs: full documentation of system_io.rs
  daemon/src/system_io.rs
Labels: none

docs: full documentation of main.rs
  daemon/src/main.rs
Labels: none

docs: add readme for softeners providing a tutorial for creating a softener
  daemon/src/softeners.rs
  daemon/src/softeners/README.md
Labels: none

docs: mostly full documentation of platform.rs
  daemon/src/platforms/platform.rs
Labels: none

docs: full documentation of universal.rs
  daemon/src/platforms/universal.rs
Labels: none

docs: full documentation of universal_fpga.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
Labels: none

docs: full documentation of universal_overlay_handler.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
Labels: none

workflows: merged snap_test_source and snap_channel
  .github/workflows/snap_integration_tests.yml
Labels: workflows

workflows: moved ROOT_DIR to env for simpler path construction
  .github/workflows/snap_integration_tests.yml
Labels: workflows

workflows: replaced snap_channel.txt by environment variables
  .github/testflinger-assets/test_snap_device_script.sh
  .github/testflinger-assets/testflinger_job.yaml
  .github/workflows/snap_integration_tests.yml
Labels: workflows

cli: removed tests
  cli/src/main.rs
Labels: cli

cli: reinforced build_property_path with sanitization
  cli/src/set.rs
Labels: cli

cli: added tests that fails in status.rs
  cli/src/status.rs
Labels: cli

dbus: validate_property_path now resolve and validate full path
  daemon/src/comm/dbus.rs
Labels: none

docs: added documentation for how to implement a softener
  daemon/src/comm.rs
  daemon/src/platforms.rs
  daemon/src/platforms/README.md
  daemon/src/platforms/universal_components.rs
  daemon/src/softeners/README.md
  daemon/src/softeners/error.rs
  fpgad_macros/src/lib.rs
Labels: none

docs: address typos and mistakes suggested by copilot review
  daemon/src/error.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/softeners/error.rs
  daemon/src/system_io.rs
  fpgad_macros/README.md
Labels: none

root: prepare for package publishing
  Cargo.lock
  Cargo.toml
  PUBLISHING.md
  cli/Cargo.toml
  daemon/Cargo.toml
  fpgad_macros/Cargo.toml
Labels: root, cli

snapcraft: rename binaries to match cargo crate names for publishing
  .git_components.yaml
  snap/snapcraft.yaml
Labels: root

workflows: add linter to enforce version bump on change to source files
  .github/workflows/linter.yml
Labels: workflows

root: fix cargo dependency such that fpgad_macros is found from cargo unless locally present
  Cargo.toml
  daemon/Cargo.toml
Labels: root

snapcraft: fixes after rename and upstream changes
  snap/snapcraft.yaml
Labels: none

snapcraft: specify content identifier handle
  snap/snapcraft.yaml
Labels: none

add rudimentary splitting
  daemon/src/comm/dbus/control_interface.rs
Labels: none

first draft of dfx-mgr commands
  daemon/src/comm/dbus/control_interface.rs
Labels: none

fixing error handling for our simple workaround
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/error.rs
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
