Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

trying builtin-account
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

try with hostname
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

add slight delay to avoid x07 race condition
  tests/snap_tests.py
Labels: none

add sudoers workaround
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

whoopsie - ssh commands
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

syntax
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

actually console_commands_nb
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

trying sleeps
  tests/snap_tests.py
Labels: none

try stop dfx-mgr before remove
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

just use different flags?
  .github/testflinger-assets/test_snap_device_script.sh
  tests/snap_tests.py
Labels: none

using different bad flags
  tests/snap_tests.py
Labels: none

Add journal tracking while test running
  .github/testflinger-assets/test_binary_device_script.sh
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

testing "login"
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

add apt update and fix journal logging
  .github/testflinger-assets/test_binary_device_script.sh
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

Revert "testing "login""
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

testing `-login` but with custom nosudo
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

try bad flags with upgrade
  tests/snap_tests.py
Labels: none

Revert "try bad flags with upgrade"
  tests/snap_tests.py
Labels: none

wrong save loc for journal loc
  .github/testflinger-assets/test_binary_device_script.sh
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

re-enable coverage tests
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

tidy
  .github/testflinger-assets/test_snap_device_script.sh
Labels: none

add test_load_bitstream_bad_flags
  tests/snap_tests.py
Labels: none

tests: renaming of device-script.sh
  .github/testflinger-assets/test_binary_device_script.sh
  .github/testflinger-assets/testflinger_job.yaml
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

tests: run `integration_tests.yaml.yml` on all branches and PR type except draft
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

tests: rename testflinger job for building and testing binary
  .github/workflows/integration_tests.yaml.yml
Labels: workflows

tests: move snap build test into integration_tests.yaml.yml
  .github/workflows/integration_tests.yaml.yml
  .github/workflows/linter.yml
Labels: workflows

tests: fix provisioning after provisioning method change away from muxpi
  .github/testflinger-assets/testflinger_job.yaml
Labels: none

tests: add tests to test the built snap's CLI on the DUT
  .github/testflinger-assets/test_snap_device_script.sh
  .github/workflows/integration_tests.yaml.yml
  tests/snap_tests.py
Labels: workflows

tests: add tests to test the built snap's CLI on the DUT (#140)
  .github/testflinger-assets/test_binary_device_script.sh
  .github/testflinger-assets/test_snap_device_script.sh
  .github/testflinger-assets/testflinger_job.yaml
  .github/workflows/integration_tests.yaml.yml
  .github/workflows/linter.yml
  tests/snap_tests.py
Labels: workflows

workflows: add tics into the linter for quality gating
  .github/workflows/integration_tests.yml
  .github/workflows/linter.yml
  .github/workflows/tics_scan.yml
Labels: workflows

dropme: pls pls
  .github/workflows/integration_tests.yml
Labels: workflows

workflows: add permissions to tics job
  .github/workflows/tics_scan.yml
Labels: workflows

dropme: let coverage tests continue on failure
  tests/coverage_test.sh
Labels: none

linter: diable tics on pull request
  .github/workflows/linter.yml
Labels: workflows

tests: RUSTFLAGS causing unboundflag error in bash removed set -u
  tests/coverage_test.sh
Labels: none

app: fix clippy error for format
  daemon/src/system_io.rs
Labels: none

workflows: make sure to build before tics
  .github/workflows/tics_scan.yml
Labels: workflows

comm: dbus: use platform_string everywhere instead of platform_compat_str
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/status_proxy.rs
  cli/src/status.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/tests/common/proxies/control_proxy.rs
  daemon/tests/common/proxies/status_proxy.rs
Labels: cli

cli: main.rs - remove unused imports
  cli/src/main.rs
Labels: cli

dbus: don't print raw bytes on fs_write_bytes
  daemon/src/comm/dbus/control_interface.rs
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
