Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**

dbus: tidying interfaces and fixing return strings for paths
  src/comm/dbus/interfaces.rs
Labels: comm, dbus

dbus: platforms: OnceCellification
  src/comm/dbus/interfaces.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: comm, dbus, platforms

platforms: replacing eprintln! and println! with error! and info! respectively
  src/main.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, platforms

platforms: use if let Err(e) pattern in universal_fpga.set_flags() for clarity
  src/error.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: daemon, platforms

dbus: platforms: IO errors no longer take String, instead different structs are implemented for each
  src/error.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, platforms

platforms: move prepare_for_load to be implementation specific for UniversalOverlayHandler
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

platforms: rename name and name to platform_type and device_handle for platform and fpga respectively
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: daemon, platforms

platforms: linter didn't like import order
  src/main.rs
Labels: daemon

platforms: adding handling of different error types in system_io
  src/system_io.rs
Labels: daemon

root: add artiepoole to owners of platforms
  .git_components.yaml
Labels: root

platforms: fix bad comment in UniversalPlatform's overlay_handler()
  src/platforms/universal.rs
Labels: platforms

platforms: creating custom error types for each type of error encountered
  src/error.rs
  src/platforms/platform.rs
Labels: daemon, platforms

platforms: testing in main with hardcoded paths
  src/main.rs
Labels: daemon

platforms: refactoring to make the code stateless and moving load/unload logic to main.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, platforms

platforms: refactor component of universal into separate files
  src/platforms/README.md
  src/platforms/universal.rs
  src/platforms/universal_components/README.md
  src/platforms/universal_components/mod.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

platforms: add Error suffix to custom error types
  src/error.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, platforms

platforms: move assert_state to be implementation specific
  src/platforms/platform.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: platforms

platforms: documentation changes in code and in readme files
  src/comm/README.md
  src/platforms/README.md
  src/platforms/platform.rs
  src/platforms/universal_components/README.md
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, comm, platforms

platforms: remove "drop" implementation from universal_overlay_handler.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

platforms: replacing accidentally added println! with info! so I replaced it
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

platforms: clippy fixes - mostly using Ok(foo()?) replaced with foo()
  src/main.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, platforms

platforms: fixing error usage convention
  src/error.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
Labels: daemon, platforms

platforms: remove "rollback steps" from universal_overlay_handler
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

platforms: adding wrapper for create_dir_all and remove_dir to system_io
  src/system_io.rs
Labels: daemon

dbus: handle unsafe unwraps when getting filename from path
  src/platforms/universal.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: platforms

platforms: huge clarity improvements for universal_overlay_handler apply_overlay steps
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, platforms

platforms: edit license - devicetree -> device-tree
  scripts/ci/check_pull_request.py
  scripts/ci/gitlint/fpgad_commit_rules.py
  src/comm/README.md
  src/comm/dbus/interfaces.rs
  src/comm/dbus/mod.rs
  src/comm/mod.rs
  src/error.rs
  src/main.rs
  src/platforms/mod.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/service.rs
  src/softeners/mod.rs
  src/system_io.rs
Labels: daemon, comm, dbus, platforms, softeners

dbus: implement error conversion to satisfy zbus Result type
  src/error.rs
Labels: daemon

dbus: add artiepoole to dbus component owners
  .git_components.yaml
Labels: root

platforms: renaming "name" to "device_handle" for fpga init/getter arg
  src/platforms/universal.rs
Labels: platforms

platforms: move fpga device_handle check logic into UniversalFPGA's new method
  src/main.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
Labels: daemon, platforms

platforms: implement placeholder get_platform logic
  src/platforms/platform.rs
Labels: platforms

platforms: tidy imports in system_io.rs
  src/system_io.rs
Labels: daemon

This commit is just to store my WIP testflinger steps in a more convenient place
  testflinger-cargo-kv260.yaml
  testflinger-reserve-only-kv260.yaml
Labels: root

root: update pre-commit-config to include dependencies for gitlint
  .pre-commit-config.yaml
Labels: root

cli: add dependencies clap, env_logger and log
  Cargo.lock
  cli/Cargo.toml
Labels: root, cli

cli: add dependencies clap, env_logger and log (#20)
  .pre-commit-config.yaml
  Cargo.lock
  cli/Cargo.toml
Labels: root, cli

cli: enable status sub command
  cli/src/main.rs
Labels: cli

cli: convert help text into doc string for status command
  cli/src/main.rs
Labels: cli

cli: enable status sub command (#21)
  cli/src/main.rs
Labels: cli
