Repository canonical/fpgad, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, daemon, comm, dbus, platforms, softeners, cli

docs: mostly full documentation of platform.rs
  daemon/src/platforms/platform.rs
Labels: none

docs: full documentation of main.rs
  daemon/src/main.rs
Labels: none

docs: full documentation of universal_fpga.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
Labels: none

docs: full documentation of universal.rs
  daemon/src/platforms/universal.rs
Labels: none

docs: full documentation of universal_overlay_handler.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
Labels: none

docs: added documentation for how to implement a softener
  daemon/src/comm.rs
  daemon/src/platforms.rs
  daemon/src/platforms/README.md
  daemon/src/platforms/universal_components.rs
  daemon/src/softeners/README.md
  daemon/src/softeners/error.rs
  fpgad_macros/src/lib.rs
Labels: none

docs: address typos and mistakes suggested by copilot review
  daemon/src/error.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/softeners/error.rs
  daemon/src/system_io.rs
  fpgad_macros/README.md
Labels: none

docs: universal - re-add/fix readme file include
  daemon/src/platforms/universal_components.rs
Labels: none

docs: address linter issues
  cli/src/status.rs
  daemon/src/comm/dbus/control_interface.rs
Labels: cli

docs: daemon: add documentation to remaining missing parts (#149)
  cli/src/status.rs
  daemon/src/comm.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/config.rs
  daemon/src/error.rs
  daemon/src/main.rs
  daemon/src/platforms.rs
  daemon/src/platforms/README.md
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/platforms/universal_components.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/softeners.rs
  daemon/src/softeners/README.md
  daemon/src/softeners/error.rs
  daemon/src/system_io.rs
  fpgad_macros/README.md
  fpgad_macros/src/lib.rs
Labels: cli

workflows: renamed legacy incident yml file extension
  .github/workflows/integration_tests.yml
Labels: workflows

workflows: added snap-store integration workflow and update DUT installer
  .github/testflinger-assets/test_snap_device_script.sh
  .github/workflows/snap_store_integration_tests.yml
Labels: workflows

workflows: unified snap jobs and moved them to their own workflows
  .github/workflows/integration_tests.yml
  .github/workflows/snap_integration_tests.yml
  .github/workflows/snap_store_integration_tests.yml
Labels: workflows

workflows: replaced snap_channel.txt by environment variables
  .github/testflinger-assets/test_snap_device_script.sh
  .github/testflinger-assets/testflinger_job.yaml
  .github/workflows/snap_integration_tests.yml
Labels: workflows

workflows: merged snap_test_source and snap_channel
  .github/workflows/snap_integration_tests.yml
Labels: workflows

workflows: moved ROOT_DIR to env for simpler path construction
  .github/workflows/snap_integration_tests.yml
Labels: workflows

workflows: Enable manual trigger for integration tests workflow
  .github/testflinger-assets/env_setup.sh
  .github/testflinger-assets/test_snap_device_script.sh
  .github/testflinger-assets/testflinger_job.yaml
  .github/workflows/integration_tests.yml
  .github/workflows/snap_integration_tests.yml
Labels: workflows

root: prepare for package publishing
  Cargo.lock
  Cargo.toml
  PUBLISHING.md
  cli/Cargo.toml
  daemon/Cargo.toml
  fpgad_macros/Cargo.toml
Labels: root, cli

snapcraft: rename binaries to match cargo crate names for publishing
  .git_components.yaml
  snap/snapcraft.yaml
Labels: root

workflows: add linter to enforce version bump on change to source files
  .github/workflows/linter.yml
  scripts/ci/check_version_bump.py
Labels: workflows

root: snapcraft.yaml - specify content identifier handle
  snap/snapcraft.yaml
Labels: none

root: fix cargo dependency such that fpgad_macros is found from cargo unless locally present
  daemon/Cargo.toml
Labels: none

root: version bump to 0.2.0 for dfx-mgr feature
  Cargo.lock
  Cargo.toml
  daemon/src/error.rs
Labels: root

snapcraft: add dfx-mgr support infrastructure
  .git_components.yaml
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/error.rs
  snap/assets/softener_wrapper
  snap/hooks/install
  snap/hooks/post-refresh
  snap/snapcraft.yaml
Labels: root

root: errors - add non_exhaustive to FpgadError
  daemon/src/error.rs
Labels: none

softeners: dfx-mgr - implement core functionality
  Cargo.lock
  daemon/Cargo.toml
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/softeners.rs
  daemon/src/softeners/error.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_helpers.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
Labels: root

platforms: refactor firmware path handling into platform layer
  cli/src/proxies/control_proxy.rs
  cli/src/status.rs
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal_components.rs
  daemon/src/platforms/universal_components/universal_fpga.rs
  daemon/src/platforms/universal_components/universal_helpers.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
  daemon/src/system_io.rs
  daemon/tests/universal/control/set_fpga_flags.rs
Labels: cli

dbus: platforms: add platform-level status_message method
  cli/src/main.rs
  cli/src/proxies/status_proxy.rs
  cli/src/status.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/tests/common/proxies/status_proxy.rs
  daemon/tests/universal/status.rs
  daemon/tests/universal/status/get_status_message.rs
Labels: cli

cli: add remove_bitstream command for dfx-mgr testing
  cli/src/main.rs
  cli/src/remove.rs
  daemon/src/comm/dbus/control_interface.rs
  daemon/tests/universal/control/write_bitstream_direct.rs
Labels: cli

dbus: handle missing dfx-mgr component/feature
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/error.rs
Labels: none

root: remove dead code and unused methods
  daemon/src/comm/dbus/control_interface.rs
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/platforms/universal_components/universal_overlay_handler.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
Labels: none

docs: document dfx-mgr implementation
  daemon/src/platforms/platform.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr_helpers.rs
  daemon/src/softeners/xilinx_dfx_mgr_overlay_handler.rs
Labels: none

softeners: move components of xilinx_dfx_mgr into submodule for cleaner feature gating
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/platform.rs
  daemon/src/softeners.rs
  daemon/src/softeners/xilinx_dfx_mgr.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_fpga.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_helpers.rs
  daemon/src/softeners/xilinx_dfx_mgr/xilinx_dfx_mgr_overlay_handler.rs
Labels: none

dbus: platforms: overlay handle can be empty - move "can't be empty" logic into platform specific code
  daemon/src/comm/dbus/status_interface.rs
  daemon/src/platforms/universal.rs
Labels: none

docs: remove obsolete comm/README.md
  daemon/src/comm/README.md
Labels: none

DRAFT: add dfx-mgr binary integration tests
  daemon/tests/xilinx_dfx_mgr.rs
  daemon/tests/xilinx_dfx_mgr/control.rs
  daemon/tests/xilinx_dfx_mgr/control/set_fpga_flags.rs
  daemon/tests/xilinx_dfx_mgr/control/write_bitstream_direct.rs
  daemon/tests/xilinx_dfx_mgr/control/write_property.rs
  daemon/tests/xilinx_dfx_mgr/sequences.rs
  daemon/tests/xilinx_dfx_mgr/sequences/bitstream_management.rs
  daemon/tests/xilinx_dfx_mgr/sequences/overlay_management.rs
  daemon/tests/xilinx_dfx_mgr/status.rs
  daemon/tests/xilinx_dfx_mgr/status/get_fpga_flags.rs
  daemon/tests/xilinx_dfx_mgr/status/get_fpga_state.rs
  daemon/tests/xilinx_dfx_mgr/status/get_overlay_status.rs
  daemon/tests/xilinx_dfx_mgr/status/get_overlays.rs
  daemon/tests/xilinx_dfx_mgr/status/get_platform_type.rs
  daemon/tests/xilinx_dfx_mgr/status/get_platform_types.rs
  daemon/tests/xilinx_dfx_mgr/status/get_status_message.rs
  daemon/tests/xilinx_dfx_mgr/status/read_property.rs
Labels: none

tests: fix coverage_test.sh after rename of daemon to fpgad
  tests/coverage_test.sh
Labels: none

tests: what to do about "no_platform" tests??
  daemon/tests/universal.rs
  daemon/tests/universal/status/get_fpga_state.rs
Labels: none

tests: coverage_test - more robust handling of stopping the daemon for each test
  tests/coverage_test.sh
Labels: none

cli: add platform string override and de-deuplicate use of HANDLE
  cli/src/load.rs
  cli/src/main.rs
  cli/src/remove.rs
  cli/src/set.rs
  cli/src/status.rs
Labels: cli

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: '*'
workflows:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**
daemon:
  - changed-files:
      - any-glob-to-any-file: src/*
comm:
  - changed-files:
      - any-glob-to-any-file: src/comm/**
dbus:
  - changed-files:
      - any-glob-to-any-file: src/comm/dbus/**
platforms:
  - changed-files:
      - any-glob-to-any-file: src/platforms/**
softeners:
  - changed-files:
      - any-glob-to-any-file: src/softeners/**
cli:
  - changed-files:
      - any-glob-to-any-file: cli/**
