Repository canonical/fpgad, pull requests merged in 2025-07, with the labels that each got.

#61 root: app: add fpga plug to fpgad snap
  README.md
  snap/snapcraft.yaml
Labels: root

#51 platforms: dbus: load firmware/apply overlay now lock so that the writes are atomic
  README.md
  src/comm/dbus/control_interface.rs
  src/config.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/platforms/universal_components/universal_fpga.rs
  src/platforms/universal_components/universal_overlay_handler.rs
  src/system_io.rs
  tests/concurent_load/test_concurrent_load.sh
Labels: root, comm, platforms, dbus, daemon

#64 softeners: platforms: add dfx-mgr softened platform
  src/error.rs
  src/main.rs
  src/platforms/platform.rs
  src/platforms/universal.rs
  src/softeners/error.rs
  src/softeners/mod.rs
  src/softeners/xilinx_dfx_mgr.rs
Labels: platforms, softeners, daemon

#48 cli: implement cli for load, remove and status using the existing dbus interface
  .git_components.yaml
  Cargo.lock
  Cargo.toml
  README.md
  cli/Cargo.toml
  cli/README.md
  cli/src/load.rs
  cli/src/main.rs
  cli/src/proxies/control_proxy.rs
  cli/src/proxies/mod.rs
  cli/src/proxies/status_proxy.rs
  cli/src/remove.rs
  cli/src/status.rs
  data/dbus/com.canonical.fpgad.conf
  src/main.rs
Labels: root, daemon, cli

#71 workflows: add cargo test to rust checks
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
Labels: workflows

#74 workflows: hotfix labeler typo
  .github/workflows/labeler.yml
Labels: workflows

#67 app: add fpgad_macros with platform macro
  Cargo.lock
  Cargo.toml
  fpgad_macros/Cargo.toml
  fpgad_macros/src/lib.rs
  src/main.rs
  src/platforms/universal.rs
  src/softeners/xilinx_dfx_mgr.rs
Labels: root, platforms, softeners, daemon

#75 platforms: dbus: cli: minor fixes
  cli/src/proxies/control_proxy.rs
  src/comm/dbus/control_interface.rs
  src/platforms/universal_components/universal_fpga.rs
Labels: comm, platforms, dbus, cli

#76 daemon: general - refactoring to use modern module format
  src/comm.rs
  src/comm/dbus.rs
  src/comm/dbus/control_interface.rs
  src/comm/dbus/status_interface.rs
  src/platforms.rs
  src/platforms/mod.rs
  src/platforms/universal_components.rs
  src/softeners.rs
  src/system_io.rs
Labels: comm, platforms, dbus, daemon

#80 dbus: implement unit tests for make_firmware_pair
  Cargo.lock
  daemon/Cargo.toml
  daemon/src/comm/dbus.rs
  daemon/src/comm/dbus/control_interface.rs
  tests/concurent_load/test_concurrent_load.sh
Labels: root

#81 workflows: test only unit tests in the linter step
  .github/workflows/linter.yml
Labels: workflows

#82 workflows: add snap build to linter
  .github/workflows/linter.yml
Labels: workflows
